﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/404.jade
	Ошибка 404 / 404.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/ErrorPage

block Declaration
	-fileAlias = '404'
	-viewTpl = 'ErrorPage'

block ErrorContent
	div(class=error+'Holder')
		.topWhiteLine__logo
			.topWhiteLine__logo__wrapper
				.topWhiteLine__logo__wrapper__border
					.svgHolder
						svg: use(xlink:href="#logo")/
		div(class=error+'Content')
			div(class=error+'Header') 404
			.wTxt
				h3 Страница не найдена
				p К сожалению, страница, которую Вы запросили, не была найдена. #[br/] Вы можете перейти на #[a(href="index.html") главную страницу] или ознакомиться с нашими #[a(href="#") коробками].
