﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'archive'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Архив рецептов
		.archiveBlock
			.archiveBlock__items
				- for(i=0;i<4;i++) {
				.archiveBlock__item
					.weekSlider__img
						.weekSlider__image
							.img.mfiA(style='background-image:url(pic/slide.png)',data-url="hidden/popupRecipe.php")
						.weekSlider__text Овощи с пряной семгой
					a.archiveBlock__download(href='#')
						.icon
							.svgHolder
								svg: use(xlink:href="#download")/
						span Скачать рецепт
				- }
				- for(i=0;i<4;i++) {
				.archiveBlock__item
					.weekSlider__img
						.weekSlider__image
							.img.mfiA(style='background-image:url(pic/slide.png)',data-url="hidden/popupRecipeBox.php")
						.weekSlider__text Овощи с пряной семгой
					a.archiveBlock__download(href='#')
						.icon
							.svgHolder
								svg: use(xlink:href="#download")/
						span Скачать рецепт
				- }
		include ../Widgets/pagination