﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Index.jade
	Главная страница / index.html
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'contacts'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.contactsBlock
			.w830
				.mainTitle_green Привет! #[br] Мы будем очень рады #[br] услышать тебя
				.contactsBlock__text
					.wTxt
						p Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы
						p Не стесняйтесь поделиться любым предложением или идеей, насчет рецептов,  улучшения качества обслуживание, или просто сказать  "Привет".
						b Мы будем рады слышать Вас!
						p
							a.bigLink(href='#') Часто Задаваемые Вопросы (FAQ)
				.contactsBlock__info
					.contactsBlock__infoBlock
						.contactsBlock__infoBlock__title Обслуживание клиентов
						.contactsBlock__infoBlock__text Горячая линия #[br] Тел: #[b.big 0207 138 9055] #[br]Internet: www.Youchef.lt
					.contactsBlock__infoBlock
						.contactsBlock__infoBlock__title Наш адрес
						.contactsBlock__infoBlock__text Youchef.lt #[br] Oxford House #[br]	76 Oxford St #[br]London W1D 1BS
					.contactsBlock__infoBlock
						.contactsBlock__infoBlock__title График работы
						.contactsBlock__infoBlock__text
							table
								tr
									td Пн-Пт
									td 9.00 - 22.00
								tr
									td Сб
									td 9.00 - 18.00
								tr
									td #[b Вс]
									td #[b выходной]
			.w410
				.howWeWork__step__title Напишите #[b.green нам]
				.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
					.wFormRow
						-elementName = 'demo_word_input'
						-elementLabel = 'Имя *'
						-
							var attrs = {
							required: true,
							type: 'text',
							name: elementName,
							id: elementName,
							placeholder: 'Имя*',
							'data-rule-word': 'true',
							'data-rule-minlength':2
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_email_input'
						-elementLabel = 'E-mail *'
						-
							var attrs = {
							required: true,
							type: 'email',
							name: elementName,
							id: elementName,
							placeholder: 'E-mail*',
							'data-rule-email': 'true'
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_phoneua_input'
						-elementLabel = 'Телефон'
						-
							var attrs = {
							required: false,
							type: 'tel',
							name: elementName,
							id: elementName,
							placeholder: 'Телефон',
							'data-rule-phoneUA': 'true'
							}
						.wFormInput
							input.wInput.js-phone-mask&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow
						-elementName = 'demo_textarea'
						-elementLabel = 'Текст сообщения*'
						-
							var attrs = {
							required: true,
							name: elementName,
							id: elementName,
							placeholder: 'Текст сообщения*',
							'data-rule-minlength':20
							}
						.wFormTextarea
							textarea.wTextarea&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow.w_last.w_tac
						button.wSubmit.button_aqua.button_normal Отправить