﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'faq'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Часто задаваемые вопросы
		.faq
			.faq__blocks.w_clearfix
				.faq__block
					.faq__block__title Изменить заказ
						span.faq__block__icon
					ul.faq__block__questions
						- for(i=0;i<3;i++) {
						li
							b.js-drop
								span Поменять Блюда
							ul
								li Вы можете внести изменения в свой заказ до даты, до которой мы принимаем заказы. Для того чтобы внести изменения вы должны позвонить нам по телефону +37062222222
						- }
				.faq__block
					.faq__block__title Доставка
						span.faq__block__icon
					ul.faq__block__questions
						- for(i=0;i<3;i++) {
						li
							b.js-drop
								span Поменять Блюда
							ul
								li Вы можете внести изменения в свой заказ до даты, до которой мы принимаем заказы. Для того чтобы внести изменения вы должны позвонить нам по телефону +37062222222
						- }
				.faq__block
					.faq__block__title Какую коробку заказать
						span.faq__block__icon
					ul.faq__block__questions
						- for(i=0;i<7;i++) {
						li
							b.js-drop
								span Поменять Блюда
							ul
								li Вы можете внести изменения в свой заказ до даты, до которой мы принимаем заказы. Для того чтобы внести изменения вы должны позвонить нам по телефону +37062222222
						- }
				.faq__block
					.faq__block__title Диетические рецепты
						span.faq__block__icon
					ul.faq__block__questions
						- for(i=0;i<3;i++) {
						li
							b.js-drop
								span Поменять Блюда
							ul
								li Вы можете внести изменения в свой заказ до даты, до которой мы принимаем заказы. Для того чтобы внести изменения вы должны позвонить нам по телефону +37062222222
						- }
				.faq__block
					.faq__block__title Диетические рецепты
						span.faq__block__icon
					ul.faq__block__questions
						- for(i=0;i<2;i++) {
						li
							b.js-drop
								span Поменять Блюда
							ul
								li Вы можете внести изменения в свой заказ до даты, до которой мы принимаем заказы. Для того чтобы внести изменения вы должны позвонить нам по телефону +37062222222
						- }
				.faq__block
					.faq__block__title Диетические рецепты
						span.faq__block__icon
					ul.faq__block__questions
						- for(i=0;i<5;i++) {
						li
							b.js-drop
								span Поменять Блюда
							ul
								li Вы можете внести изменения в свой заказ до даты, до которой мы принимаем заказы. Для того чтобы внести изменения вы должны позвонить нам по телефону +37062222222
						- }
	.haveQuestion
		.wSize
			.haveQuestion__from
				.mainTitle_green.w_tac Остались вопросы?
				.haveQuestion__text Заполните форму и Мы с Вами обязательно свяжемся
				.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
					.wFormRow
						-elementName = 'demo_word_input'
						-elementLabel = 'Имя *'
						-
							var attrs = {
							required: true,
							type: 'text',
							name: elementName,
							id: elementName,
							placeholder: 'Имя*',
							'data-rule-word': 'true',
							'data-rule-minlength':2
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_email_input'
						-elementLabel = 'E-mail *'
						-
							var attrs = {
							required: true,
							type: 'email',
							name: elementName,
							id: elementName,
							placeholder: 'E-mail*',
							'data-rule-email': 'true'
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_phoneua_input'
						-elementLabel = 'Телефон'
						-
							var attrs = {
							required: false,
							type: 'tel',
							name: elementName,
							id: elementName,
							placeholder: 'Телефон',
							'data-rule-phoneUA': 'true'
							}
						.wFormInput
							input.wInput.js-phone-mask&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow
						-elementName = 'demo_textarea'
						-elementLabel = 'Текст сообщения*'
						-
							var attrs = {
							required: true,
							name: elementName,
							id: elementName,
							placeholder: 'Текст сообщения*',
							'data-rule-minlength':20
							}
						.wFormTextarea
							textarea.wTextarea&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow.w_last.w_tac
						button.wSubmit.button_aqua.button_semi Отправить