﻿extends ../Templates/Base

block Declaration
	-fileAlias = 'how'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
	.howBlock
		.wSize
			.howBlock__TV
				.howBlock__left
					.mainTitle_green Как это работает
					.howBlock__text
						.wTxt
							p которые хорошо продуманы, здоровы и полезны. Мы создаем легкие и вкусные кулинарные рецепты с пошаговыми фотографиями для праздничных застолий, фуршетов, а также для семейного питания и для детей. Это новые простейшие решения на каждый день. Некоторые рецепты могут готовить даже дети под руководством взрослых.
				.howBlock__right
					iframe(width='640', height='360', src='http://www.youtube.com/embed/E8evYzyItVM?rel=0', frameborder='0', allowfullscreen='')
		.howBlock__fourSteps
			.w970
				.mainTitle_green Четыре ступени к вкусной и здоровой пище
				.howBlock__wrapper.w_clearfix
					.sliderPreloader
						.cssload-preload-juggle
							.cssload-ball
							.cssload-ball
							.cssload-ball
					.howBlock__slide.w_clearfix
						- for(i=0;i<4;i++) {
						.howBlock__slide__item.animation
							.howBlock__slide__item__image
								img(src='pic/block-party.jpg')
							.howBlock__slide__item__text
								.howWeWork__step__title #[i] #[b.red Мы] создаем легкие и вкусные рецепты
								p которые хорошо продуманы, здоровы и полезны. Мы создаем легкие и вкусные кулинарные рецепты с пошаговыми фотографиями для праздничных застолий, фуршетов, а также для семейного питания и для детей. Это новые простейшие решения на каждый день. Некоторые рецепты могут готовить даже дети под руководством взрослых.
						- }
					.howBlock__pagination.w_clearfix
						#prev
						.paginationSlide
						#next
					.howBlock__button
						a(href='#').button_normal.button_aqua Посмотреть коробки
		.howBlock__why
			.wSize
				.mainTitle_green.w_tac Почему YouСhef ?
				.howBlock__boxText
					ul.howBlock__Llist.animation
						li
							.icon.teeth
							span Каждую неделю новые вкусы
						li
							.icon.fish
							span Блюда на выбор
						li
							.icon.vegitables
							span Вегетарианские опции
						li
							.icon.gluten
							span Блюда без глютена
					.box
					ul.howBlock__Rlist.animation
						li
							span Смузи из супер продуктов
							.icon.banana
						li
							span Легкие и быстрые рецепты
							.icon.recipies
						li
							span Бесплатная доставка
							.icon.shipping
						li
							span Свежие ингридиенты
							.icon.fresh
				.button_normal.button_aqua Попробуй YouChef сейчас