﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'index'
	-bodyAttr.class = 'indexPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.bigImage.w_clearfix(style='background-image:url(images/top-image.jpg)')
		.videoBlock
			video#video
				source(src='video.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
				source(src='video.webm', type='video/webm; codecs="vp8, vorbis"')
				source(src="video.ogv",type='video/ogg; codecs="theora, vorbis"')
		.wSize
			.bigImage__textBlock
				.bigImage__title Готовить с нами легко!
				.bigImage__desc Блюда ресторанного качества, созданные нами, приготовленные Вами! Мы берем все обязанности на себя - Вы наслаждаетесь!
				a.bigImage__play.js-play(href='#') &#9658;
	include ../Widgets/how_we
	include ../Widgets/week_slider
	include ../Widgets/our-package
	include ../Widgets/responses
