﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Привет, Станислав
		.lkBlock
			.lkBlock__info
				.lkBlock__left
					.lkBlock__tabsLine
						.lkBlock__tabs
							span.is-active.js-tab(data-src='personal') Персональные данные
							span.js-tab(data-src='password') Изменить пароль
						a.lkBlock__edit.js-edit(href='#')
							.lkBlock__pencil
								span.svgHolder
									svg: use(xlink:href="#pencil")/
								span Редактировать
					.lkBlock__userInfo.lkBlock__tabBlock.js-dist.wForm.wFormPreloader(data-dist='personal',data-form="true",data-url="hidden/wForm-demo-submit.php")

						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Ваш ID
							.lkBlock__userInfo__col.height 152698
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Имя
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='Станислав',required='required',name='name',data-rule-word='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Фамилия
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='Лопасинский',required='required',name='name2',data-rule-word='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Дата рождения
							.lkBlock__userInfo__col.js-calendar
								input.notEdit(type='text',value='12/08/1989',required='required',name='mydate',data-rule-mydate='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col E-mail
							.lkBlock__userInfo__col
								input.notEdit(type='email',value='stanislav@gmail.com',required='required',name='mail',data-rule-email='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Номер телефона
							.lkBlock__userInfo__col
								input.notEdit.js-phone-mask(type='tel',value='+370501234567',required='required',name='tel',data-rule-phoneUa='true',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Город
							.lkBlock__userInfo__col
								select.notEdit(required='required',name='city',disabled)
									option Херсон
									option Одесса
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Улица
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='проспект Ушакова',required='required',name='ul',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Дом
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='17',required='required',name='home',readonly='readonly')
						.lkBlock__userInfo__row
							.lkBlock__userInfo__col Квартира
							.lkBlock__userInfo__col
								input.notEdit(type='text',value='48',name='kv',readonly='readonly')
						.lkBlock__userInfo__row.js-submit
							.wSubmit.button_aqua.button_semi Сохранить

					.lkBlock__changePass.lkBlock__tabBlock.js-dist(data-dist='password')
						.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
							.wFormRow
								-elementName = 'demo_word_input'
								-elementLabel = 'Старий пароль *'
								-
									var attrs = {
									required: true,
									type: 'password',
									name: elementName,
									id: elementName,
									placeholder: 'Старый пароль*',
									'data-rule-minlength':4
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow
								-elementName = 'demo_equalTo_password'
								-elementLabel = 'Password *'
								-elementType = 'password'
								-elementPlaceholder = 'Новый пароль*'
								-
									var attrs = {
									required: true,
									type: 'password',
									name: elementName,
									id: elementName,
									placeholder: 'Новый пароль*',
									'data-rule-password': 'true'
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel

							.wFormRow
								-elementEqual = '#'+elementName
								-elementName = elementName+'_to'
								-elementLabel = 'Повторить пароль*'
								-
									var attrs = {
									required: true,
									type: 'password',
									name: elementName,
									id: elementName,
									placeholder: 'Повторить пароль*',
									'data-rule-password': 'true',
									'data-rule-equalTo': elementEqual
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel

							.wFormRow.w_last
								button.wSubmit.button_transparent.button_semi Сохранить
				.lkBlock__right
					ul.lkBlock__menu
						li #[a(href='#',class='is-active') Персональные данные]
						li #[a(href='#') Реферальная система]
						li #[a(href='#') Бонусы от рефералов]
						li #[a(href='#') Заказы]
			.lkBlock__masterBlock
				.lkBlock__master
					.lkBlock__title.bg
						.mainTitle_green Стань мастер-шефом и получи подарок
					.lkBlock__lineResult
						.lkBlock__lineResult__status Ваш YouChef статус
						.lkBlock__lineResult__status.countBoxMore Осталось #[b #[em 3] коробки] до след.уровня
						.lkBlock__result.w_clearfix.js-lkBox(data-rating="15",data-checks="0,3,10,20",data-text="новичек,ученик,су-шеф,мастер-шеф")
							-for(i=0;i<30;i++){
							.rect.js-rang
							-}
					- for(i=0;i<3;i++) {
					.lkBlock__desc
						b 5 коробок - ученик повара
						p Я люблю готовить с YouChef! Если хотите вкусные рецепты и свежие продукты, так что вот мой личный код купона! Получите вкусную скидку, используя мой персональный номер
					- }