﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Привет, Станислав
		.lkBlock
			.lkBlock__info
				.lkBlock__left
					.lkBlock__reccomend
						b Рекомендуй YouChef друзьям!
						p Пригласи друзей на YouChef и получи 5 евро на следующую покупку
						.w_tac
							img(src='pic/lk-reccomend-bg.png')
						.lkBlock__reccomend__social
							.lkBlock__reccomend__soc
								a(href='#').facebook
									span.svgHolder
										svg: use(xlink:href="#facebook")/
								a(href='#').google
									span.svgHolder
										svg: use(xlink:href="#google")/
							.lkBlock__reccomend__desc Пригласи друга!
				.lkBlock__right
					ul.lkBlock__menu
						li #[a(href='#') Персональные данные]
						li #[a(href='#',class='is-active') Реферальная система]
						li #[a(href='#') Бонусы от рефералов]
						li #[a(href='#') Заказы]
			.lkBlock__sendMail
				.lkBlock__sendMail__form
					b Пригласи по электронной почте
					.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
						.lkBlock__sendMail__form__row
							.wFormRow
								-elementName = 'demo_word_input'
								-elementLabel = 'Имя*'
								-
									var attrs = {
									required: true,
									type: 'text',
									name: elementName,
									id: elementName,
									placeholder: 'Имя Вашего друга*',
									'data-rule-word': 'true',
									'data-rule-minlength':2
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow
								-elementName = 'demo_email_input'
								-elementLabel = 'E-mail*'
								-
									var attrs = {
									required: true,
									type: 'email',
									name: elementName,
									id: elementName,
									placeholder: 'E-mail Вашего друга*',
									'data-rule-email': 'true'
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel
							.wFormRow
								.wSubmit.button__rect Отправить
						.wFormRow
							-elementName = 'demo_word_input'
							-elementLabel = 'Имя'
							-
								var attrs = {
								required: true,
								type: 'text',
								name: elementName,
								id: elementName,
								placeholder: '',
								value:'Я хочу пригласить тебя делать покупки на YouChef'
								}
							.wFormInput
								input.wInput&attributes(attrs)
								.inpInfo= elementLabel
						.wFormRow
							-elementName = 'demo_textarea'
							-elementLabel = 'Текст сообщения'
							-
								var attrs = {
								required: true,
								name: elementName,
								id: elementName,
								placeholder: ''
								}
							.wFormTextarea
								textarea.wTextarea&attributes(attrs)
									| Я люблю готовить с YouChef! Если хотите вкусные рецепты и свежие продукты, так что вот мой личный код купона! Получите вкусную скидку, используя мой персональный номер
								.inpInfo(for=elementName)= elementLabel

					b Ваша реферальная ссылка
					p
						a(href="#") https://www.youchef.com/account/referral/
			.lkBlock__masterBlock
				.lkBlock__master
					.lkBlock__title
						.mainTitle_green О реферальной системе
					- for(i=0;i<4;i++) {
					.lkBlock__desc
						b Поделиться ссылкой - что может быть проще!
						p Друзья получают $ 40 с их первого заказа, а вы получаете $ 20 с вашего следующего коробки, как хорошо! Каждый выигрывает, на кухне и в чековой книжке. Начни сегодня - Введите адрес электронной почты друга или поделиться кодом
					- }