﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Привет, Станислав
		.lkBlock
			.lkBlock__info
				.lkBlock__left
					.lkBlock__orders
						b Мои заказы
						.lkBlock__orderList
							ul.accordion.skinClear
								-for(i=0;i<5;i++) {
								li
									.accordLine
										span Заказ № 123456 от 29.06.2016
										b Заказ получен
									ul
										li.accordItem
											.recipesBlock__shortView__subtitle
												span Классическая коробка
											.accordItem__row
												.accordItem__item
													.basketInfo__item
														.basketInfo__item__image
															span(style='background-image:url(pic/smuzi-image.jpg)')
														.basketInfo__item__text
															.basketInfo__item__title
																a(href='#') Говядина в сливочном соусе с шалфеем
															.basketInfo__item__count 2 Порции
												.accordItem__price £ 33.75
											.accordItem__row
												.accordItem__item
													.basketInfo__item
														.basketInfo__item__image
															span(style='background-image:url(pic/smuzi-image.jpg)')
														.basketInfo__item__text
															.basketInfo__item__title
																a(href='#') Говядина в сливочном соусе с шалфеем
															.basketInfo__item__count 2 Порции
												.accordItem__price £ 33.75

											.recipesBlock__shortView__subtitle
												span Планируете вечеринку
											.accordItem__row
												.accordItem__item
													.basketInfo__item
														.basketInfo__item__image
															span(style='background-image:url(pic/smuzi-image.jpg)')
														.basketInfo__item__text
															.basketInfo__item__title
																a(href='#') Говядина в сливочном соусе с шалфеем
															.basketInfo__item__count 2 Порции
												.accordItem__price £ 33.75
											.accordItem__row
												.accordItem__item
													.basketInfo__item
														.basketInfo__item__image
															span(style='background-image:url(pic/smuzi-image.jpg)')
														.basketInfo__item__text
															.basketInfo__item__title
																a(href='#') Говядина в сливочном соусе с шалфеем
															.basketInfo__item__count 2 Порции
												.accordItem__price £ 33.75

											.accordItem__row.promotion
												.accordItem__totalText Скидка
												.accordItem__totalPrice £ 5
											.accordItem__row
												.accordItem__totalText Общая сумма заказа
												.accordItem__totalPrice £ 78.75
								-}
				.lkBlock__right
					ul.lkBlock__menu
						li #[a(href='#',class='is-active') Персональные данные]
						li #[a(href='#') Реферальная система]
						li #[a(href='#') Бонусы от рефералов]
						li #[a(href='#') Заказы]