﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'lk'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Привет, Станислав
		.lkBlock
			.lkBlock__info
				.lkBlock__left
					.lkBlock__bonuses
						.lkBlock__bonuses__textBlock
							.lkBlock__bonuses__text На нашем сайте работает реферальная программа, которая позволяет зарегистрированным покупателям получать вознаграждение за привлечение других людей на наш сайт.
							.lkBlock__bonuses__text О количестве начисляемых бонусов вы можете узнать на этой странице
							.lkBlock__sendMail__form
								b Ваша реферальная ссылка
								p
									a(href="#") https://www.youchef.com/account/referral/
						.lkBlock__bonuses__countBonus
							.lkBlock__circleWrapper
								.lkBlock__innerCircle
									.lkBlock__innerCircle__text Получено бонусов:
										b £ 100
								.lkBlock__logo
									img(src='pic/footer-logo.png',width="53")
				.lkBlock__right
					ul.lkBlock__menu
						li #[a(href='#',class='is-active') Персональные данные]
						li #[a(href='#') Реферальная система]
						li #[a(href='#') Бонусы от рефералов]
						li #[a(href='#') Заказы]
			.lkBlock__referalsBlock
				b Зарегистрировано рефералов:  5
				.lkBlock__referalsBlock__table
					.lkBlock__referalsBlock__title
						.lkBlock__referalsBlock__col Имя реферала
						.lkBlock__referalsBlock__col Дата
						.lkBlock__referalsBlock__col Бонус
						.lkBlock__referalsBlock__col Cсылка для скидки £5 к заказу
					.lkBlock__referalsBlock__main
						-for(i=0;i<3;i++) {
						.lkBlock__referalsBlock__row
							.lkBlock__referalsBlock__col
								.lkBlock__referalsBlock__icon
									img(src="pic/girl.jpg")
								span Игорь Гедзь
							.lkBlock__referalsBlock__col 29.06.2016
							.lkBlock__referalsBlock__col
								b.big £ 5
							.lkBlock__referalsBlock__col
								a(href="#") https://www.youchef.com/account/referral/
						-}
						-for(i=0;i<2;i++) {
						.lkBlock__referalsBlock__row
							.lkBlock__referalsBlock__col
								.lkBlock__referalsBlock__icon
									img(src="pic/nophoto.png")
								span Игорь Гедзь
							.lkBlock__referalsBlock__col 29.06.2016
							.lkBlock__referalsBlock__col
								b.big £ 5
							.lkBlock__referalsBlock__col
								a.is-disabled(href="#") https://www.youchef.com/account/referral/
						-}