﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Index.jade
	Главная страница / index.html
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'oform'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Оформление заказа
		.oformBlock
			.oformBlock__left
				.oformBlock__steps.js-first
					.oformBlock__step
						.oformBlock__step__number 1
						.oformBlock__step__text Персональные данные
					.oformBlock__tabs
						.lkBlock__tabs
							span.is-active.js-tab(data-src='new') Я новый покупатель
							span.js-tab(data-src='old') Я постоянный клиент

						.oformBlock__tab.js-dist(data-dist='new')
							.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
								.wFormRow
									-elementName = 'demo_word_input'
									-elementLabel = 'Имя *'
									-
										var attrs = {
										required: true,
										type: 'text',
										name: elementName,
										id: elementName,
										placeholder: 'Ваше имя',
										'data-rule-word': 'true'
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
								.wFormRow
									-elementName = 'demo_word_input2'
									-elementLabel = 'Фамилия *'
									-
										var attrs = {
										required: true,
										type: 'text',
										name: elementName,
										id: elementName,
										placeholder: 'Ваша фамилия',
										'data-rule-word': 'true'
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
								.wFormRow.calendar
									-var elementName = 'demo_required_input'
									-var elementLabel = 'Дата рождения'
									-
										var attrs = {
										required: false,
										type: 'text',
										name: elementName,
										id: elementName,
										placeholder: 'Дата рождения',
										'data-rule-mydate':true,
										'data-msg-mydate':'Введите верную дату в формате ДД/ММ/ГГГГ'
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
										.svgHolder
											svg: use(xlink:href="#date")/
								.wFormRow
									-elementName = 'demo_email_input'
									-elementLabel = 'E-mail *'
									-
										var attrs = {
										required: true,
										type: 'email',
										name: elementName,
										id: elementName,
										placeholder: 'E-mail',
										'data-rule-email': 'true'
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel

								.wFormRow
									-elementName = 'demo_phoneua_input'
									-elementLabel = 'Номер телефона *'
									-
										var attrs = {
										required: true,
										type: 'tel',
										name: elementName,
										id: elementName,
										placeholder: 'Номер телефона',
										'data-rule-phoneUA': 'true'
										}
									.wFormInput
										input.wInput.js-phone-mask&attributes(attrs)
										.inpInfo(for=elementName)= elementLabel
								.wFormRow
									.wFormSelect
										select.wSelect(required)
											option(value='0', disabled, selected) Город
											option(value='1') Херсон
								.wFormRow
									-elementName = 'demo_date_input'
									-elementLabel = 'Пароль *'
									-
										var attrs = {
										required: true,
										type: 'password',
										name: elementName,
										id: elementName,
										placeholder: 'Пароль',
										'data-rule-password': 'true',
										'data-rule-minlength':6
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo(for=elementName)= elementLabel
								.wFormRow.w_last
									button.button_transparent.button_semi.js-step Следующий шаг

						.oformBlock__tab.js-dist(data-dist='old')
							.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
								.wFormRow
									-elementName = 'demo_email_input'
									-elementLabel = 'E-mail *'
									-
										var attrs = {
										required: true,
										type: 'email',
										name: elementName,
										id: elementName,
										placeholder: 'Введите E-mail',
										'data-rule-email': 'true'
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo= elementLabel
								.wFormRow
									-elementName = 'demo_date_input'
									-elementLabel = 'Пароль *'
									-
										var attrs = {
										required: true,
										type: 'password',
										name: elementName,
										id: elementName,
										placeholder: 'Введите пароль',
										'data-rule-password': 'true',
										'data-rule-minlength':4
										}
									.wFormInput
										input.wInput&attributes(attrs)
										.inpInfo(for=elementName)= elementLabel
								.wFormRow
									span.enterPopup__remember.mfiA.w_tal(data-url="hidden/remember-popup.php") Забыли пароль?
								.wFormRow.w_last
									button.wSubmit.button_aqua.button_semi Войти
				.oformBlock__steps.js-second
					.oformBlock__step
						.oformBlock__step__number 2
						.oformBlock__step__text Способ доставки
					.oformBlock__tabs
						.lkBlock__tabs
							span.is-active.js-tab(data-src='classic') Классическая коробка
							span.js-tab(data-src='party') Планируете вечеринку
							span.js-tab(data-src='smuzi') Любите смузи
						.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
							.oformBlock__tab.js-dist(data-dist='classic')
								.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
									.wFormRow
										.wFormSelect
											select.wSelect(required)
												option(value='0', disabled, selected) Город
												option(value='1') Херсон
									.cols-3
										.wFormRow
											-elementName = 'demo_word_input'
											-elementLabel = 'Улица *'
											-
												var attrs = {
												required: true,
												type: 'text',
												name: elementName,
												id: elementName,
												placeholder: 'Улица*',
												'data-rule-word': 'true'
												}
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo= elementLabel
										.wFormRow
											-elementName = 'demo_word_input21'
											-elementLabel = 'Дом *'
											-
												var attrs = {
												required: true,
												type: 'text',
												name: elementName,
												id: elementName,
												placeholder: 'Дом*'
												}
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo= elementLabel

										.wFormRow
											-elementName = 'demo_word_input23'
											-elementLabel = 'Квартира'
											-
												var attrs = {
												required: false,
												type: 'text',
												name: elementName,
												id: elementName,
												placeholder: 'Квартира'
												}
											.wFormInput
												input.wInput&attributes(attrs)
												.inpInfo= elementLabel
									.wFormRow
										.oformBlock__calendar.oformBlock__calendar--date
											.oformBlock__calendar__left
												.oformBlock__calendar__text Выберите дату доставки, если дата указана серым цветом, то, к сожалению в этот день мы не сможем доставить Ваш заказ

											.oformBlock__calendar__right
												input(class='bigcalendar')
									.wFormRow
										.oformBlock__calendar.oformBlock__calendar--time
											.oformBlock__calendar__left
												.oformBlock__calendar__text Выберите время доставки, если время указано серым цветом, то, к сожалению в этот промежуток времени мы не сможем доставить Ваш заказ
											.oformBlock__calendar__right
												.oformBlock__calendar__times
													- for(i=0;i<4;i++) {
													label
														input(type='radio',name='time')
														.oformBlock__calendar__time
															span 08
																sup 00
															b -
															span 10
																sup 00
													- }
													- for(i=0;i<4;i++) {
													label
														input(type='radio',name='time',disabled)
														.oformBlock__calendar__time
															span 08
																sup 00
															b -
															span 10
																sup 00
													- }
							.oformBlock__tab.js-dist(data-dist='party')
								.wFormRow
									.wFormSelect
										select.wSelect(required)
											option(value='0', disabled, selected) Город
											option(value='1') Херсон
								.cols-3
									.wFormRow
										-elementName = 'demo_word_input'
										-elementLabel = 'Улица *'
										-
											var attrs = {
											required: true,
											type: 'text',
											name: elementName,
											id: elementName,
											placeholder: 'Улица*',
											'data-rule-word': 'true'
											}
										.wFormInput
											input.wInput&attributes(attrs)
											.inpInfo= elementLabel
									.wFormRow
										-elementName = 'demo_word_input21'
										-elementLabel = 'Дом *'
										-
											var attrs = {
											required: true,
											type: 'text',
											name: elementName,
											id: elementName,
											placeholder: 'Дом*'
											}
										.wFormInput
											input.wInput&attributes(attrs)
											.inpInfo= elementLabel

									.wFormRow
										-elementName = 'demo_word_input23'
										-elementLabel = 'Квартира'
										-
											var attrs = {
											required: false,
											type: 'text',
											name: elementName,
											id: elementName,
											placeholder: 'Квартира'
											}
										.wFormInput
											input.wInput&attributes(attrs)
											.inpInfo= elementLabel
								.wFormRow
									.oformBlock__calendar.oformBlock__calendar--date
										.oformBlock__calendar__left
											.oformBlock__calendar__text Выберите дату доставки, если дата указана серым цветом, то, к сожалению в этот день мы не сможем доставить Ваш заказ

										.oformBlock__calendar__right
											input(class='bigcalendar')
								.wFormRow
									.oformBlock__calendar.oformBlock__calendar--time
										.oformBlock__calendar__left
											.oformBlock__calendar__text Выберите время доставки, если время указано серым цветом, то, к сожалению в этот промежуток времени мы не сможем доставить Ваш заказ
										.oformBlock__calendar__right
											.oformBlock__calendar__times
												- for(i=0;i<4;i++) {
												label
													input(type='radio',name='time2')
													.oformBlock__calendar__time
														span 08
															sup 00
														b -
														span 10
															sup 00
												- }
												- for(i=0;i<4;i++) {
												label
													input(type='radio',name='time2',disabled)
													.oformBlock__calendar__time
														span 08
															sup 00
														b -
														span 10
															sup 00
												- }
							.oformBlock__tab.display
								.wFormRow
									.oformBlock__comment
										label.tit(for='comm') Комментировать заказ
										.wFormTextarea
											textarea.wTextarea#comm
								.wFormRow
									-elementName = 'demo_required_checkbox'
									-elementLabel = 'Cо сроками и условиями согласен'
									-
										var attrs = {
										required: true,
										type: 'checkbox',
										name: elementName
										}
									label.wCheck
										input.wInput&attributes(attrs)
										ins &nbsp;
										span Cо сроками и условиями согласен
										a(href='#') Сроки и условия

								.wFormRow.w_last
									button.button_aqua.button_semi.wSubmit Оформить заказ
			.oformBlock__right
				.recipesBlock__right
					.recipesBlock__shortView
						.recipesBlock__shortView__title.recipesBlock__shortView__basket Моя корзина
						.recipesBlock__shortView__subtitle
							span Классическая коробка
							b 1
						.recipesBlock__shortView__items
							.recipesBlock__shortView__item
								.basketInfo__item
									.basketInfo__item__image
										span(style='background-image:url(pic/block-party.jpg)')
									.basketInfo__item__text
										.basketInfo__item__title
											a(href='#') Говядина в сливочном соусе с шалфеем
										.basketInfo__item__count
											em 2
											| &nbsp;Порции
											.basketInfo__item__price £ 3.75
							.recipesBlock__edit
								a(href='#') Редактировать

						.recipesBlock__shortView__subtitle
							span Планируете вечеринку
							b 2
						.recipesBlock__shortView__items
							.recipesBlock__shortView__item
								.basketInfo__item
									.basketInfo__item__image
										span(style='background-image:url(pic/block-party.jpg)')
									.basketInfo__item__text
										.basketInfo__item__title
											a(href='#') Говядина в сливочном соусе с шалфеем
										.basketInfo__item__count
											em 2
											| &nbsp;Порции
											.basketInfo__item__price £ 3.75
								.basketInfo__item
									.basketInfo__item__image
										span(style='background-image:url(pic/block-party.jpg)')
									.basketInfo__item__text
										.basketInfo__item__title
											a(href='#') Говядина в сливочном соусе с шалфеем
										.basketInfo__item__count
											em 2
											| &nbsp;Порции
											.basketInfo__item__price £ 3.75
							.recipesBlock__edit
								a(href='#') Редактировать

						.recipesBlock__shortView__subtitle
							span Любите смузи
							b 3
						.recipesBlock__shortView__items
							.recipesBlock__shortView__item
								.basketInfo__item
									.basketInfo__item__image
										span(style='background-image:url(pic/smuzi-image.jpg)')
									.basketInfo__item__text
										.basketInfo__item__title
											a(href='#') Коробка смузи на неделю
										.basketInfo__item__count
											em 7
											| &nbsp;Порций
											.basketInfo__item__price £ 3.75
							.recipesBlock__edit
								a(href='#') Редактировать


						.recipesBlock__shortView__preCount
							.recipesBlock__shortView__preCount__row
								span Стоимость
								b £ #[em.js-totalWithoutPromo 0.00]
						.recipesBlock__shortView__havePromo
							.recipesBlock__shortView__subtitle
								span Есть скидка ?
							.myForm
								.wFormRow
									.wFormInput
										input.wInput(type='text',placeholder='Введите код скидки')
							.recipesBlock__shortView__preCount__row
								span Скидка
								b.green 20%
							.recipesBlock__shortView__preCount__row
								span Доставка
								b.green БЕСПЛАТНО
							.recipesBlock__shortView__preCount__row
								span Сумма к оплате
								b £ #[em 0.00]