﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'boxes'
	-bodyAttr.class = 'contentPage boxes'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Выберите свою коробку
		.ourBlock
			.ourBlock__row
				.ourBlock__image
					.ourBlock__img(style='background-image:url(pic/our_image2.jpg)')
				.ourBlock__text
					.howWeWork__step__title #[b.red Классическая ] коробка
					.ourBlock__time
						.ourBlock__time__title Успей заказать
						.ourBlock__time__row
							.ourBlock__time__text Закажите до 11:59 в четверг и получите в воскресенье
							.ourBlock__time__counter
								.countdown
					.wTxt
						p Ваша коробка будет включать в себя наши фоторецепты и все, что вам нужно в течение нескольких незабываемых вечеров.
					.ourBlock__buttons
						a(href='#').button_aqua.button_semiNormal Заказать
						span.button_transparent.button_semiNormal.mfiA(data-url='hidden/price-eat.php') Посмотреть цены
			.ourBlock__row
				.ourBlock__image
					.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
				.ourBlock__text
					.howWeWork__step__title #[b.red Любите ] смузи?
					.ourBlock__time
						.ourBlock__time__title Успей заказать
						.ourBlock__time__row
							.ourBlock__time__text Закажите до 11:59 в четверг и получите в воскресенье
							.ourBlock__time__counter
								.countdown
					.wTxt
						p Ваша коробка будет включать в себя наши фоторецепты и все, что вам нужно в течение нескольких незабываемых вечеров.
					.ourBlock__buttons
						a(href='#').button_aqua.button_semiNormal Заказать
						span.button_transparent.button_semiNormal.mfiA(data-url='hidden/price-smuzi.php') Посмотреть цены
			.ourBlock__row
				.ourBlock__image
					.ourBlock__img(style='background-image:url(pic/our_image2.jpg)')
				.ourBlock__text
					.howWeWork__step__title #[b.red Планируете ] вечеринку?
					.ourBlock__time
						.ourBlock__time__title Успей заказать
						.ourBlock__time__row
							.ourBlock__time__text Закажите до 11:59 в четверг и получите в воскресенье
							.ourBlock__time__counter
					.wTxt
						p Ваша коробка будет включать в себя наши фоторецепты и все, что вам нужно в течение нескольких незабываемых вечеров.
					.ourBlock__buttons
						a(href='#').button_aqua.button_semiNormal Заказать
						span.button_transparent.button_semiNormal.mfiA(data-url='hidden/price-party.php') Посмотреть цены
	.ourBlockPluses
		.wSize
			.ourBlockPluses__blocks.animation
				.ourBlockPluses__block
					.howWeWork__step__title #[b.red Мы] доставляем абсолютно бесплатно
					.ourBlockPluses__block__image
						.ourBlockPluses__block__icon.shipping
							img(src='pic/shipping.png')
					.ourPackage__textBlock
						.ourPackage__desc
							p В данный момент мы делаем доставку только один раз в неделю. Доставляем по Вильнюссу в радиусе 30км.
							p Вам необходимо поместить свой заказ за неделю до доставки.
							em *Тематические коробки мы доставляем в любой день! Кроме воскресенья.
				.ourBlockPluses__block
					.howWeWork__step__title #[b.red Наша] реферальная система
					.ourBlockPluses__block__image
						.ourBlockPluses__block__icon.referal
							img(src='pic/referal-big-icon.png')
					.ourPackage__textBlock
						.ourPackage__desc
							p посоветуй нас своему другу и получите 5 евро в подарок,  в то время как друг получит 20% скидку на первый заказ
				.ourBlockPluses__block
					.howWeWork__step__title #[b.red Стань] настоящим шефом!
					.ourBlockPluses__block__image
						.ourBlockPluses__block__icon.chef
							img(src='pic/chef-big-icon.png')
					.ourPackage__textBlock
						.ourPackage__desc
							p Мы будем наблюдать как вы двигаетесь вперед от новичка, к любителю, затем становитель су-шефом и как вы достигаете степени Профессионального шеф повара!
	include ../Widgets/week_slider