﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'smuzi'
	-bodyAttr.class = 'contentPage smuziBody'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallheader2.jpg)')
		.w670
			.smallImage__title Начни свой день правильно
			.smallImage__desc Смузи из супер ингридиентов теперь каждую неделю в Вашем доме! Созданные диетологами и включающие только свежие овощи и фрукты
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.mixerBlock
		.wSize
			.mixerBlock__mixer
				.mixerBlock__left
					.mixerBlock__punkt
						.mixerBlock__punkt__icon
							.mixerBlock__punkt__img.book
								img(src='pic/smuzi-book-icon.png')
						.mixerBlock__punkt__text
							p #[b 5] рецептурных карточек
							span Каждую неделю обновление вкусов
					.mixerBlock__punkt
						.mixerBlock__punkt__icon
							.mixerBlock__punkt__img.smuzi
								img(src='pic/smuzi-smuzi-icon.png')
						.mixerBlock__punkt__text
							p #[b 2]
								img(src='pic/popup-human.png')
								b x 5
								img(src='pic/popup-smuzi.png')
								b
									| =
								| &nbsp;10 порций в коробке
							p #[b 4]
								img(src='pic/popup-human.png')
								b x 5
								img(src='pic/popup-smuzi.png')
								b
									| =
								| &nbsp;20 порций в коробке
					.mixerBlock__punkt
						.mixerBlock__punkt__icon
							.mixerBlock__punkt__img.weight
								img(src='pic/smuzi-weight-icon.png')
						.mixerBlock__punkt__text
							p С точностью измеренные ингридиенты
							span Готовые к бленду
				.mixerBlock__blender
					img(src='pic/mixer.png')
				.mixerBlock__right
					.mixerBlock__punkt
						.mixerBlock__punkt__icon
							.mixerBlock__punkt__img.shipping
								img(src='pic/shipping.png')
						.mixerBlock__punkt__text
							p Бесплатная доставка
							span Мы берем все расходы на себя
					.mixerBlock__punkt
						.mixerBlock__punkt__icon
							.mixerBlock__punkt__img.house
								img(src='pic/smuzi-house-icon.png')
						.mixerBlock__punkt__text
							p Каждую неделю у Вашей двери
					.mixerBlock__punkt.hoverEffect
						.mixerBlock__punkt__icon.mfiA(data-url='hidden/shortText.php')
							.mixerBlock__punkt__img.attention
								img(src='pic/smuzi-attention-icon.png')
						.mixerBlock__punkt__text.mfiA(data-url='hidden/shortText.php')
							p Обратите внимание
			.mixerBlock__button
				span.button_normal.button_orange.mfiA(data-url='hidden/get-smuzi.php') Заказать смузи на неделю
			.mixerBlock__time.w_tac Закажите до 11:59 в четверг и получите в воскресенье
	.wSize
		.smuziBlocks
			- for(ii=0;ii<5;ii++) {
			.mainTitle_orange.w_tac Понедельник
			.ourBlock.smuzis
				.ourBlock__row
					.ourBlock__image
						.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
							.ourBlock__kkal
								.ourBlock__kalories кКал #[b 179]
								.ourBlock__bzu БЖУ #[b 4/4/33]
					.ourBlock__text
						.ourBlock__text__title Яблочно-кокосовый
						.wTxt
							p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
							p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
						.ourBlock__bottomLine.w_clearfix
							.ourBlock__bottomLine__options
								.ourBlock__bottomLine__time #[b 5 минут]
								.ourBlock__bottomLine__size Порция&nbsp;&nbsp; #[b 400 мл]
							.ourBlock__bottomLine__ingredients.js-show-ingredients Ингридиенты
				.ourBlock__composition
					.ourBlock__image
						.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
					.ourBlock__text
						.ourBlock__composition__title Ингридиенты на 2-х человек
						.ourBlock__composition__table
							table
								- for (i=0;i<5;i++) {
								tr
									td Стебель сельдерея
									td #[b 20 гр]
								- }
								- for (i=0;i<5;i++) {
								tr
									td Базилик сушеный молотый
									td #[b 400 гр]
								- }
			- }
	.tabsVitamins.girl
		.wSize
			.w1075
				.tabsVitamins__names
					.tabsVitamins__name.is-active.js-smuzi-tab(data-src='girl',data-bg='pic/tab-women.jpg')
						.tabsVitamins__icon.girl
							img(src='pic/tab-girl-icon.png')
					.tabsVitamins__name.js-smuzi-tab(data-src='men',data-bg='pic/tab-men.jpg')
						.tabsVitamins__icon.mixer
							img(src='pic/tab-mixer-icon.png')
					.tabsVitamins__name.js-smuzi-tab(data-src='vitamins',data-bg='pic/tab-vitamins.jpg')
						.tabsVitamins__icon.vitamins
							img(src='pic/tab-vitamins-icon.png')
				.tabsVitamins__tabs(data-dist='girl').js-smuzi-dist
					.tabsVitamins__title #[b Активность] каждый день
					.tabsVitamins__text
						p Секрет крепкого здоровья очень прост. Мы помогаем облегчить приготовление коктейлей, так что вы можете сосредоточиться просто на наслаждении.
						p
							b Нет времени ходить по магазинам? Мы с радость возьмем все на себя и доставим прямо к Вашей двери и передадим из рук в руки
					.tabsVitamins__button
						.button_normal.button_orange.mfiA(data-url='hidden/get-smuzi.php') Заказать смузи на неделю

				.tabsVitamins__tabs(data-dist='men').js-smuzi-dist
					.tabsVitamins__title #[b Микс] здоровых продуктов
					.tabsVitamins__text
						p Секрет крепкого здоровья очень прост. Мы помогаем облегчить приготовление коктейлей, так что вы можете сосредоточиться просто на наслаждении.
						p
							b Нет времени ходить по магазинам? Мы с радость возьмем все на себя и доставим прямо к Вашей двери и передадим из рук в руки
					.tabsVitamins__button
						.button_normal.button_orange.mfiA(data-url='hidden/get-smuzi.php') Заказать смузи на неделю

				.tabsVitamins__tabs(data-dist='vitamins').js-smuzi-dist
					.tabsVitamins__title #[b Витамины] каждый день
					.tabsVitamins__text
						p Секрет крепкого здоровья очень прост. Мы помогаем облегчить приготовление коктейлей, так что вы можете сосредоточиться просто на наслаждении.
						p
							b Нет времени ходить по магазинам? Мы с радость возьмем все на себя и доставим прямо к Вашей двери и передадим из рук в руки
					.tabsVitamins__button
						.button_normal.button_orange.mfiA(data-url='hidden/get-smuzi.php') Заказать смузи на неделю