﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'our'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Наша история
		.ourBlock
			.ourBlock__row
				.ourBlock__image
					.ourBlock__img(style='background-image:url(pic/our_image1.jpg)')
				.ourBlock__text
					.ourBlock__text__title Как все начиналось ...
					.wTxt
						p Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы
						p Не стесняйтесь поделиться любым предложением или идеей, насчет рецептов,  улучшения качества обслуживание, или просто сказать  "Привет".
						p Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы
			.ourBlock__row
				.ourBlock__image
					.ourBlock__img(style='background-image:url(pic/our_image2.jpg)')
				.ourBlock__text
					.ourBlock__text__title Как все продолжается ...
					.wTxt
						p Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы
						p Не стесняйтесь поделиться любым предложением или идеей, насчет рецептов,  улучшения качества обслуживание, или просто сказать  "Привет".
						p Мы здесь, чтобы помочь. Если у Вас есть вопросы относительно доставки, качества продукции, оплаты, подписки, или, если вы просто хотите поговорить, только один звонок - и мы  ответим на все Ваши вопросы
		.our__providers
			.mainTitle_green.w_tac Наши поставщики
			.our__providers__blocks
				.our__providers__block.size-1
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/providers-image.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
				.our__providers__block.size-2
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/prividers-wide-image.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
				.our__providers__block.size-1
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/providers2.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
				.our__providers__block.size-1
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/providers3.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
				.our__providers__block.size-1
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/providers4.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
				.our__providers__block.size-1
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/providers5.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
				.our__providers__block.size-1
					.flip-container(ontouchstart="this.classList.toggle('hover');")
						.flipper
							.front
								img(src='pic/providers6.jpg')
							.back
								.our__providers__title #[span Фрукты]
								.our__providers__text только самые свежие фрукты от лучших садов мира
			.our__providers__button
				.button_aqua.button_normal Посмотреть коробки
