﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'smuziFruits'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Смузи и корзины с фруктами
		.recipesBlock
			.recipesBlock__left
				.recipesBlock__optionsLine
					.recipesBlock__optionsLine__filters
						.recipesBlock__optionsLine__b Выбери свое меню
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.smuzi-one') Смузи
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.fruits') Корзина фруктов
						.recipesBlock__optionsLine__clear.js-filter-button(data-filter='*')
							b &times;
							span Сбросить
				.recipesBlock__smuzis
					.ourBlock.smuzis.smuzi-one
						.ourBlock__row
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
									.ourBlock__kkal
										.ourBlock__kalories кКал #[b 179]
										.ourBlock__bzu БЖУ #[b 4/4/33]
							.ourBlock__text
								.ourBlock__text__title Яблочно-кокосовый
								.wTxt
									p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
									p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
								.ourBlock__bottomLine.w_clearfix
									.ourBlock__bottomLine__options
										.ourBlock__bottomLine__time #[b 5 минут]
										.ourBlock__bottomLine__size Порция&nbsp;&nbsp; #[b 400 мл]
									.ourBlock__bottomLine__ingredients.js-show-ingredients Ингридиенты
								.ourBlock__buyBottomLine
									.ourBlock__buyBottomLine__priceName Цена
									.ourBlock__buyBottomLine__priceCount
										span £ 3.75
										b х
									.ourBlock__buyBottomLine__peoples
										select.ourBlock__buyBottomLine__peoples__select
											option 2
											option 3
											option 4
									.ourBlock__buyBottomLine__add
						.ourBlock__composition
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
							.ourBlock__text
								.ourBlock__composition__title Ингридиенты на 2-х человек
								.ourBlock__composition__table
									table
										- for (i=0;i<5;i++) {
										tr
											td Стебель сельдерея
											td #[b 20 гр]
										- }
										- for (i=0;i<5;i++) {
										tr
											td Базилик сушеный молотый
											td #[b 400 гр]
										- }

					.ourBlock.smuzis.fruits
						.ourBlock__row
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
									.ourBlock__kkal
										.ourBlock__kalories кКал #[b 179]
										.ourBlock__bzu БЖУ #[b 4/4/33]
							.ourBlock__text
								.ourBlock__text__title Яблочное настроение
								.wTxt
									p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
									p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
								.ourBlock__buyBottomLine
									.ourBlock__buyBottomLine__priceName Цена
									.ourBlock__buyBottomLine__priceCount
										span £ 3.75
										b х
									.ourBlock__buyBottomLine__peoples
										select.ourBlock__buyBottomLine__peoples__select
											option 2
											option 3
											option 4
									.ourBlock__buyBottomLine__add
					.ourBlock.smuzis.smuzi-one
						.ourBlock__row
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/monday-image.jpg)')
									.ourBlock__kkal
										.ourBlock__kalories кКал #[b 179]
										.ourBlock__bzu БЖУ #[b 4/4/33]
							.ourBlock__text
								.ourBlock__text__title Яблочно-кокосовый
								.wTxt
									p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
									p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
								.ourBlock__bottomLine.w_clearfix
									.ourBlock__bottomLine__options
										.ourBlock__bottomLine__time #[b 5 минут]
										.ourBlock__bottomLine__size Порция&nbsp;&nbsp; #[b 400 мл]
									.ourBlock__bottomLine__ingredients.js-show-ingredients Ингридиенты
								.ourBlock__buyBottomLine
									.ourBlock__buyBottomLine__priceName Цена
									.ourBlock__buyBottomLine__priceCount
										span £ 3.75
										b х
									.ourBlock__buyBottomLine__peoples
										select.ourBlock__buyBottomLine__peoples__select
											option 2
											option 3
											option 4
									.ourBlock__buyBottomLine__add

						.ourBlock__composition
							.ourBlock__image
								.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
							.ourBlock__text
								.ourBlock__composition__title Ингридиенты на 2-х человек
								.ourBlock__composition__table
									table
										- for (i=0;i<5;i++) {
										tr
											td Стебель сельдерея
											td #[b 20 гр]
										- }
										- for (i=0;i<5;i++) {
										tr
											td Базилик сушеный молотый
											td #[b 400 гр]
										- }
			.recipesBlock__right
				.recipesBlock__shortView
					.recipesBlock__shortView__title.recipesBlock__shortView__basket Классическая коробка
					.recipesBlock__shortView__items
						.recipesBlock__shortView__item
							.basketInfo__item
								.basketInfo__item__image
									span(style='background-image:url(pic/smuzi-image.jpg)')
								.basketInfo__item__text
									.basketInfo__item__title
										a(href='#') Название
									.basketInfo__item__count
										em
											| 2
										| &nbsp;Порции


					.recipesBlock__shortView__preCount
						.recipesBlock__shortView__preCount__row
							span Стоимость
							b £ #[em.js-totalWithoutPromo 0.00]
						.recipesBlock__shortView__preCount__row
							span Дата доставки
							span Среда, 27 июня

					.recipesBlock__shortView__oformLink
						a.button_small.button_transparent(href='#') Продолжить заказ
						a.button_semi.button_aqua(href='#') Оформить заказ