﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'contacts'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Планируете вечеринку
		.recipesBlock
			.recipesBlock__left
				.recipesBlock__optionsLine
					.recipesBlock__optionsLine__filters
						.recipesBlock__optionsLine__b Выбери свое меню
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.vegan') Вегетарианское
						.recipesBlock__optionsLine__filter.button_transparent.js-filter-button(data-filter='.gluten-free') Глютен фри
						.recipesBlock__optionsLine__clear.js-filter-button(data-filter='*')
							b &times;
							span Сбросить
					.recipesBlock__optionsLine__deliveryTime Закажите до 11:59 в четверг и получите в воскресенье
				.recipesBlock__items

					.recipesBlock__item.vegan.recipesBlock__flipText.js-item(data-id='2',data-name='Название товара2',data-type='classic-box',data-price='3.65')
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/slide.png)')
							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
						.recipesBlock__back
							.our__providers__title #[span Фрукты]
							.our__providers__text только самые свежие фрукты от лучших садов мира
							.weekSlider__add.js-add-item

					.recipesBlock__item.vegan.recipesBlock--big.js-item(data-id='3',data-name='Название товара3',data-type='classic-box',data-price='3.85')
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/cheaf-image.jpg)')
							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
							.weekSlider__buyLine
								.weekSlider__buyLine__inside
									.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.apple
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Калории
											.popupRecipe__bigLine__count 296
									.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.time
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Время приготовления
											.popupRecipe__bigLine__count 30-40 минут

									.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.ex
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Срок годности
											.popupRecipe__bigLine__count 3 дня
								.weekSlider__add.js-add-item


					.recipesBlock__item.recipesBlock__cheaf.recipesBlock--big.gluten-free
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/cheaf-image.jpg)')
							.weekSlider__chefBlock
								.weekSlider__chefBlock__title
									span Говядина в сливочном соусе с шалфеем
								.weekSlider__chefBlock__text Вы узнаете, как приготовить идеальный говядину с хрустящей корочкой, сопряженного со сладкими и солеными овощами и слегка липким кокосового риса. Украшенный с лаймом и мятой для свежести.
								.weekSlider__chefBlock__chef

							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
							.weekSlider__buyLine
								.weekSlider__buyLine__inside
									.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.apple
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Калории
											.popupRecipe__bigLine__count 296
									.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.time
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Время приготовления
											.popupRecipe__bigLine__count 30-40 минут

									.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
										.popupRecipe__bigLine__icon.ex
										.popupRecipe__bigLine__nc
											.popupRecipe__bigLine__name Срок годности
											.popupRecipe__bigLine__count 3 дня
								.weekSlider__add


					.recipesBlock__item.vegan.recipesBlock__flipText.js-item(data-id='2',data-name='Название товара2',data-type='classic-box',data-price='3.65')
						.weekSlider__img
							.weekSlider__image
								.img(style='background-image:url(pic/slide.png)')
							.weekSlider__text #[span Овощи с пряной семгой]
								.weekSlider__add
						.recipesBlock__back
							.our__providers__title #[span Фрукты]
							.our__providers__text только самые свежие фрукты от лучших садов мира
							.weekSlider__add.js-add-item

			.recipesBlock__right
				.recipesBlock__shortView
					.recipesBlock__shortView__title Количество порций
					.recipesBlock__shortView__inps
						label
							input(type='radio',name='countPorcies',checked,value='2')
							span 2
						label
							input(type='radio',name='countPorcies',value='3')
							span 3
						label
							input(type='radio',name='countPorcies',value='4')
							span 4
					.recipesBlock__shortView__items
						script(type="text/template",id="item")
							| <% _.each(items,function(item,key,arr) { %>
							.recipesBlock__shortView__item(data-id!="<%= item.id %>")
								.basketInfo__item
									.basketInfo__item__image
										span(style='background-image:url(pic/smuzi-image.jpg)')
									.basketInfo__item__text
										.basketInfo__item__title
											a(href='#')
												| <%=item.name %>
										.basketInfo__item__count
											em
												| <%=item.count %>&nbsp;
											| Порции
										.basketInfo__item__add.js-add-porcies + Добавить еще
									.basketInfo__item__remove.js-remove &times;
							| <% }); %>


					.recipesBlock__shortView__preCount
						.recipesBlock__shortView__preCount__row
							span Стоимость
							b £ #[em.js-totalWithoutPromo 0.00]
						.recipesBlock__shortView__preCount__row
							span Дата доставки
							span Среда, 27 июня

					a.recipesBlock__shortView__addItem.recipesBlock__shortView__addItem--orange(href='#') + Добавить смузи / фрукты

					.recipesBlock__shortView__oformLink
						a.button_small.button_transparent(href='#') Продолжить заказ
						a.button_semi.button_aqua(href='#') Оформить заказ