﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'response'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.mainTitle_green Отзывы наших клиентов
		.responsesPage
			.responsesPage__responses
				.responsesPage__response
					.responsesPage__logo
						.logo
					.responsesPage__text
						.responsesPage__name Алена Свиридова
						.responsesPage__date 29.06  21:18
						.responsesPage__desc В целом все нравится, но есть пара недочетов. 1) Размер порций. По факту в ужине не 2, а 3 порции. Так считаю не только я, но и мои друзья, которые либо видели эти порции у меня дома, либо заказывали сами. Куда девать эту третью порцию - непонятно. Выкидывать жалко, а запихивать в себя через силу глупо.

				.responsesPage__response.admin
					.responsesPage__logo
						.logo
					.responsesPage__text
						.responsesPage__name YouChef
						.responsesPage__date 29.06  21:18
						.responsesPage__desc В целом все нравится, но есть пара недочетов. 1) Размер порций. По факту в ужине не 2, а 3 порции. Так считаю не только я, но и мои друзья, которые либо видели эти порции у меня дома, либо заказывали сами. Куда девать эту третью порцию - непонятно. Выкидывать жалко, а запихивать в себя через силу глупо.

				.responsesPage__response
					.responsesPage__logo
						.logo
					.responsesPage__text
						.responsesPage__name Алена Свиридова
						.responsesPage__date 29.06  21:18
						.responsesPage__desc В целом все нравится, но есть пара недочетов. 1) Размер порций. По факту в ужине не 2, а 3 порции. Так считаю не только я, но и мои друзья, которые либо видели эти порции у меня дома, либо заказывали сами. Куда девать эту третью порцию - непонятно. Выкидывать жалко, а запихивать в себя через силу глупо.

				.responsesPage__response
					.responsesPage__logo
					.responsesPage__text
						.responsesPage__name Алена Свиридова
						.responsesPage__date 29.06  21:18
						.responsesPage__desc В целом все нравится, но есть пара недочетов. 1) Размер порций. По факту в ужине не 2, а 3 порции. Так считаю не только я, но и мои друзья, которые либо видели эти порции у меня дома, либо заказывали сами. Куда девать эту третью порцию - непонятно. Выкидывать жалко, а запихивать в себя через силу глупо.

				.responsesPage__response.admin
					.responsesPage__logo
						.logo
					.responsesPage__text
						.responsesPage__name YouChef
						.responsesPage__date 29.06  21:18
						.responsesPage__desc В целом все нравится, но есть пара недочетов. 1) Размер порций. По факту в ужине не 2, а 3 порции. Так считаю не только я, но и мои друзья, которые либо видели эти порции у меня дома, либо заказывали сами. Куда девать эту третью порцию - непонятно. Выкидывать жалко, а запихивать в себя через силу глупо.
				include ../Widgets/pagination
			.responsesPage__right.w410
				.howWeWork__step__title Оставьте свой #[b.green отзыв]
				.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
					.wFormRow
						-elementName = 'demo_word_input'
						-elementLabel = 'Имя *'
						-
							var attrs = {
							required: true,
							type: 'text',
							name: elementName,
							id: elementName,
							placeholder: 'Имя*',
							'data-rule-word': 'true',
							'data-rule-minlength':2
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel
					.wFormRow
						-elementName = 'demo_email_input'
						-elementLabel = 'E-mail *'
						-
							var attrs = {
							required: true,
							type: 'email',
							name: elementName,
							id: elementName,
							placeholder: 'E-mail*',
							'data-rule-email': 'true'
							}
						.wFormInput
							input.wInput&attributes(attrs)
							.inpInfo= elementLabel

					.wFormRow
						-elementName = 'demo_textarea'
						-elementLabel = 'Ваш отзыв*'
						-
							var attrs = {
							required: true,
							name: elementName,
							id: elementName,
							placeholder: 'Ваш отзыв*',
							'data-rule-minlength':20
							}
						.wFormTextarea
							textarea.wTextarea&attributes(attrs)
							.inpInfo(for=elementName)= elementLabel

					.wFormRow.w_last.w_tac
						button.wSubmit.button_aqua.button_normal Отправить