﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/SiteMap.jade
	Карта сайта / sitemap.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'sitemap'
	-mainMenuPath = ['Карта сайта']

block wContainer
	.wSize
		+pageTitle()
		include ../Widgets/Breadcrumbs
		
		nav.wSitemap
			+menuList(LOCALS.sitemap)
