﻿//- ++++++++++++++++++++++++++++++++++++++++
	Views/Index.jade
	Главная страница / index.html
	Wezom wTPL v4.0.0
//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'contacts'
	-bodyAttr.class = 'contentPage'
	-seoSet = false
	-mainMenuPath = ['Главная']

block wMenu

block wContainer
	.smallImage.w_clearfix(style='background-image:url(images/smallimage.jpg)')
	.wSize
		include ../Widgets/Breadcrumbs
		.textBlock
			h1.mainTitle_green Привет! Мы будем очень рады услышать тебя
			.textBlock__text
				.wTxt
					+h1()
					+h2()
					+h3()
					+h4()
					+h5()
					+h6()

					h2 Форматирование текста

					p: img(style="float: right; margin-left: 15px; margin-bottom: 15px;" src="pic/no-avatar.png", width="300", alt="")

					p Краткая демонстрация текстовых элементов / теги. Тег <kbd>#{'<p>'}</kbd> определяет текстовый абзац(создает новый параграф). Абзац является блочным элементом, всегда начинается с новой строки и имеет отсуп до и после себя. Абзац не позволяет в кладывать внутрь себя такие элементы как <kbd>address(информации об авторе)</kbd>, <kbd>blockquote(блочная цитата)</kbd>, <kbd>table(таблица)</kbd>, также другие абзаци <kbd>p > p</kbd>.<br/>Если вам нужно принудительно перевести строку текста на новую линию, без создания нового абзаца и верстикальных отступов между - используйте одинарный тег <kbd>#{'<br/>'}</kbd>.

					p Вы можете отформатировать текст используя такие теги как <kbd>#{'<i>'}</kbd> / <kbd>#{'<em>'}</kbd>, <em>чтобы сделать ваш текст наклонным</em>,<br> вы также можете использовать <kbd>#{'<q>'}</kbd> - <q>строчные цитаты, которые в отличии от блочных, позволяют вложенность внутри абзаца,</q><br>при помощи тегов <kbd>#{'<b>'}</kbd> / <kbd>#{'<strong>'}</kbd> - <strong>можно обозначить важный текст жирностью шрифта</strong>,<br>для <ins>подчеркивания текста</ins> используйте <kbd>#{'<u>'}</kbd> / <kbd>#{'<ins>'}</kbd>, a для <del>перечеркивания</del> - <kbd>#{'<del>'}</kbd> / <kbd>#{'<s>'}</kbd>,<br>Также можно <mark>выделить нужную часть текста</mark> возможно при помощи тега <kbd>#{'<mark>'}</kbd>

					p Чтобы превратить ваш текст в гиперссылку, нужно использовать <a href="#">тег #{'<a>'}</a>. Ссылка должна иметь обязательный атрибут <kbd><b>href="<i>uri</i>"</b></kbd> значение которого должен URI адрес вашей гиперссылки. Более подробно с #[a(href="http://htmlbook.ru/html/a" title="Тег #{'<a>'}" target="_blank") гиперссылками] и другими элементами, представленными на этой странице, вы можете ознакомиться на сайте #[a(href="http://htmlbook.ru/" title="htmlbook.ru" target="_blank") htmlbook.ru]

					p Также можно использовать специальные теги <kbd>#{'<sup>'}</kbd> <sup>Отображает шрифт в виде верхнего индекса</sup> и <kbd>#{'<sub>'}</kbd> <sub>Отображает шрифт в виде нижнего индекса</sub>.<br>Тег <kbd>#{'<small>'}</kbd> <small>уменьшает размер шрифта</small>

					p Тег <code>#{'<code>'}</code> предназначен для отображения одной или нескольких строк текста, который представляет собой программный код<br><em>пример:</em><br>чтобы узнать контекст объекта нужно вызвать <code>console.log(this);</code>.

					p Тег <kbd>#{'<kbd>'}</kbd> используется для обозначения текста, который набирается на клавиатуре или для названия клавиш,<br><em>пример:</em><br>чтобы вызвать <b>"Диспетчер задач"</b> нажмите на клавиатуре вместе 3 клавиши - <kbd><b>Ctrl + Alt + Del</b></kbd>.

					p Тег <samp>#{'<samp>'}</samp> используется для отображения текста, который является результатом вывода компьютерной программы или скрипта,<br><em>пример:</em><br>В результате провеверки мы определил, что <samp>ваш браузер поддерживает JavaScript</samp>

					p Тег <kbd>#{'<abbr>'}</kbd> указывает, что <abbr title="последовательность символов">ПС</abbr> является аббревиатурой. С помощью атрибута <kbd>title</kbd> дается расшифровка сокращения, что позволяет понимать аббревиатуру тем людям, которые с ней не знакомы. Кроме того, <strong>поисковые системы индексируют полнотекстовый вариант сокращения</strong>, что может использоваться для повышения рейтинга документа.

					p Как правило, когда, в документе, упоминается <dfn title="это новый термин">новый термин</dfn>, он выделяется курсивом и дается его определение. При использовании этого термина в дальнейшем, он считается уже известным читателю. Тег <dfn title="тег #{'<dfn>'}">#{'<dfn>'}</dfn> применяется для выделения таких терминов при их первом появлении в тексте. С помощью атрибута <kbd>title</kbd> вы можете дать более пожробную расшифровку термина.

					address Тег <kbd>#{'<address>'}</kbd> предназначен для хранения информации об авторе<em>(НЕ адреса и контакты компании, прочее)</em> и может включать в себя любые элементы HTML вроде ссылок, текста, выделений и т.д.

					blockquote Тег <kbd>#{'<blockquote>'}</kbd> используется для обозначения цитат, длинных выписок, афоризмов и прочее, который создается в новом блоке с пробелами до и после.

					pre Тег #{'<pre>'} определяет блок предварительно форматированного текста.<br>&nbsp;&nbsp;&nbsp;&nbsp;Такой текст отображается обычно моноширинным шрифтом и со всеми пробелами между словами.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;По умолчанию, любое количество пробелов идущих в коде подряд, на веб-странице показывается как один.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Тег #{'<pre>'} позволяет обойти эту особенность и отображать текст<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;как требуется разработчику.

					h2 Списки

					h5 Маркированный список
					ul
						li #[a(href="http://www.wezom.com.ua" target="_blank" title="Веб-студия Wezom") Веб - студия Wezom] - Продвижение, создание сайтов, разработка, раскрутка сайта
						li #[a(href="http://www.korova.ks.ua" target="_blank" title="Коворкинг - Центр Корова") Коворкинг - Центр Корова] - Аренда офиса, рабочего места в центре Херсона
						li #[a(href="http://www.100bannerov.com" target="_blank" title="100bannerov") 100bannerov] - Размещение бесплатной баннерной рекламы в интернете
						li #[a(href="http://www.wezom.mobi" target="_blank" title="Wezom.mobile") Wezom.mobile] - Разработка и создание мобильных приложений для android и ios устройств в Украине
							ul
								li: +lorem(4)
								li: +lorem(9)
								li
									+lorem(6)
									ul
										li: +lorem(4, 'ru')
										li: +lorem(9, 'ru')
										li: +lorem(6, 'ru')

					h5 Нумерованный список
					ol
						li #[a(href="http://www.dom-rebenka.org.ua" target="_blank" title="Областной Дом ребенка") Областной Дом ребенка] - Помощь детям с пораженной ЦНС
						li #[a(href="http://www.blogoduma.ru" target="_blank" title="Медицинский портал") Медицинский портал] - Все о здоровье и медицин
						li #[a(href="http://www.more.ks.ua" target="_blank" title="Отдых на море") Отдых на море] - Черное и Азовское море / пансионаты Херсонского побережья
						li #[a(href="http://www.rafting.mk.ua" target="_blank" title="Рафтинг на Южном Буге и в Карпатах") Рафтинг на Южном Буге и в Карпатах] - Рафтинг в Украине, сплав по реке Южный Буг
							ol
								li: +lorem(4)
								li: +lorem(9)
								li
									+lorem(6)
									ol
										li: +lorem(4, 'ru')
										li: +lorem(9, 'ru')
										li: +lorem(6, 'ru')

					h5 Список опредлений
					dl
						dt Что такое Тег?
						dd Тег — это специальный символ разметки, который применяется для вставки различных элементов на веб-страницу таких как: рисунки, таблицы, ссылки и др., и для изменения их вида.
						dt Что такое HTML-документ?
						dd Обычный текстовый файл, который может содержать в себе текст, теги и стили. Изображения и другие объекты хранятся отдельно. Содержимое такого файла обычно называется HTML-код.
						dt Что такое Сайт?
						dd Cайт — это набор отдельных веб-страниц, которые связаны между собой ссылками и единым оформлением.

					h2 Таблицы
					table
						caption caption таблици
						tr
							th Заглавие таблици
							th Заглавие таблици
							th Заглавие таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
					table.table-null
						caption Таблица CSS класс <b>"table-null"</b>
						tr
							th Заглавие таблици
							th Заглавие таблици
							th Заглавие таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
					table.table-zebra
						caption Таблица CSS класс <b>"table-zebra"</b>
						tr
							th Заглавие таблици
							th Заглавие таблици
							th Заглавие таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици
						tr
							td Данные вашей таблици
							td Данные вашей таблици
							td Данные вашей таблици

					h2 Iframe, Video, Audio

					<iframe width="560" height="315" src="https://www.youtube.com/embed/LEzKfmzKmjA" allowfullscreen></iframe>

					video(src="video/video.mp4")
					audio(src="audio/audio.mp3", controls)