﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/UI_elements.jade
	Текстовая страница / ui_elements.html
	Пример

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'ui_forms'
	-mainMenuPath = ['UI Раздел', 'UI Формы']

block wContainer
	.wSize
		+pageTitle()
		include ../Widgets/Breadcrumbs

		.wTxt.w_block
			h6 QA Шпаргалка
			p #[a(href="https://docs.google.com/spreadsheets/d/1apO0jw4AYDipH4n-Dbq27a_HEBO7pOTn6oUUvSyYMi8/edit#gid=865381910&vpid=A1", target="_blank") Стандарт валидации.xlsx] отдела Тестирования.
			p Документация по #[a(href="http://verstka.vps.kherson.ua/wtpl/strukturnye-elementy-stranitsy/wform-i-vse-chto-nuzhno-o-nem-znat.html", target="_blank") wForm, и все что нужно о нем знать].
		
		include ../Widgets/wFormsUI/wForm_demoNav

		+wForm_demoNav('required')
		include ../Widgets/wFormsUI/wForm_required

		+wForm_demoNav('digits')
		include ../Widgets/wFormsUI/wForm_digits

		+wForm_demoNav('number')
		include ../Widgets/wFormsUI/wForm_number

		+wForm_demoNav('min')
		include ../Widgets/wFormsUI/wForm_min

		+wForm_demoNav('max')
		include ../Widgets/wFormsUI/wForm_max

		+wForm_demoNav('range')
		include ../Widgets/wFormsUI/wForm_range

		+wForm_demoNav('minlength')
		include ../Widgets/wFormsUI/wForm_minlength

		+wForm_demoNav('maxlength')
		include ../Widgets/wFormsUI/wForm_maxlength

		+wForm_demoNav('rangelength')
		include ../Widgets/wFormsUI/wForm_rangelength

		+wForm_demoNav('filetype')
		include ../Widgets/wFormsUI/wForm_filetype

		+wForm_demoNav('filesize')
		include ../Widgets/wFormsUI/wForm_filesize

		+wForm_demoNav('filesizeEach')
		include ../Widgets/wFormsUI/wForm_filesizeEach

		+wForm_demoNav('password')
		include ../Widgets/wFormsUI/wForm_password

		+wForm_demoNav('equalTo')
		include ../Widgets/wFormsUI/wForm_equalTo

		+wForm_demoNav('url')
		include ../Widgets/wFormsUI/wForm_url

		+wForm_demoNav('email')
		include ../Widgets/wFormsUI/wForm_email

		+wForm_demoNav('word')
		include ../Widgets/wFormsUI/wForm_word

		+wForm_demoNav('login')
		include ../Widgets/wFormsUI/wForm_login

		+wForm_demoNav('phoneUA')
		include ../Widgets/wFormsUI/wForm_phoneUA

		+wForm_demoNav('or')
		include ../Widgets/wFormsUI/wForm_or

		+wForm_demoNav('pattern')
		include ../Widgets/wFormsUI/wForm_pattern

		+wForm_demoNav('remote')
		include ../Widgets/wFormsUI/wForm_remote