// Внешние js файлы
if viewTpl == 'ErrorPage'
	script(src="js/libs.js")
else
	script(src="js/libs.js")
	script(src="js/components.js")
	script(src="js/inits.js")
	script(src="js/validation.js")
	-if(fileAlias == 'oform') {
	script.
		jQuery(document).ready(function ($) {
				if($('.bigcalendar').length){
					var picker = $bigcalendar.pickadate('picker');
						picker.set('disable', [[2016, 8, 15], [2016, 8, 21],7]); //даты в таком формате (0-11) или номер дня недели (1-7)
						picker.set('max', 25); //максимум вперед на 25 дней
				}
		});
	-}
='\n'
