.howWeWork
	.wSize
		.mainTitle_green.w_tac Как мы работаем
		.howWeWork__blocks
			.howWeWork__step
				.howWeWork__step__title #[b.red Мы] создаем легкие и вкусные рецепты
				.howWeWork__step__circle
					.howWeWork__step__circle__top
						img(src='pic/bubles.png')
					.howWeWork__step__circle__bottom
						img(src='pic/book-icon.png')
				.howWeWork__step__desc которые хорошо продуманы, здоровы и полезны

			.howWeWork__step
				.howWeWork__step__title #[b.red Мы] пакуем  ингридиенты
				.howWeWork__step__circle
					.howWeWork__step__circle__top
						img(src='pic/ingredients.png')
					.howWeWork__step__circle__bottom
						img(src='pic/box.png')
				.howWeWork__step__desc и измеряем ингридиенты  в нужном количестве

			.howWeWork__step
				.howWeWork__step__title #[b.red Мы] доставляем абсолютно бесплатно
				.howWeWork__step__circle
					.howWeWork__step__circle__top
					.howWeWork__step__circle__bottom
						img(src='pic/shipping.png')
				.howWeWork__step__desc прямо к Вашей двери

			.howWeWork__step
				.howWeWork__step__title #[b.green Вы] готовите!
				.howWeWork__step__circle
					.howWeWork__step__circle__top
					.howWeWork__step__circle__bottom
						img(src='pic/cook.png')
				.howWeWork__step__desc #[b готовите как про!] Наслаждаясь нашими кулинарными рецептами