.ourPackage
	.wSize
		.mainTitle_green.w_tac Наши коробки и цены
		.ourPackage__blocks.animation
			.ourPackage__pack
				.ourPackage__image
					.ourPackage__img
						img(src='pic/block-afternoon.jpg')
					.ourPackage__category
						.ourPackage__box.mfiA(data-url='hidden/shortText.php')
						.ourPackage__smuzi.mfiA(data-url='hidden/shortText.php')
				.ourPackage__textBlock
					.ourPackage__title Ужин на каждый день
					hr
					.ourPackage__desc Выберите на свой вкус. #[br] Вы вегетерианец или предпочитаете обходить глютен стороной?!#[br] Нет проблем! Только скажите, что Вы предпочитаете
			.ourPackage__pack
				.ourPackage__image
					.ourPackage__img
						img(src='pic/block-afternoon.jpg')
					.ourPackage__category
						.ourPackage__box.mfiA(data-url='hidden/shortText.php')
						.ourPackage__smuzi.mfiA(data-url='hidden/shortText.php')
				.ourPackage__textBlock
					.ourPackage__title Планируете вечеринку?
					hr
					.ourPackage__desc от маленьких топасов (горячих и холодных закусок) со всего мира до больших традиционных запеканок!
			.ourPackage__pack
				.ourPackage__image
					.ourPackage__img
						img(src='pic/block-afternoon.jpg')
					.ourPackage__category
						.ourPackage__box.mfiA(data-url='hidden/shortText.php')
						.ourPackage__smuzi.mfiA(data-url='hidden/shortText.php')
				.ourPackage__textBlock
					.ourPackage__title Любите смузи?
					hr
					.ourPackage__desc Идеальное начало дня! #[br] Начните день с витаминов, сделайте свой завтра полноценным!

		.ourPackage__button
			a.button_aqua.button_normal(href='#') Посмотреть цены