.pagination
	.paginWrapp
		a.pPrev(href='#')
			.circle
				.svgHolder
					svg: use(xlink:href="#pagin")/
			span Назад
		a(href='#') 1
		span.is-active 2
		a(href='#') 3
		a(href='#') 4
		a(href='#') 5
		a(href='#') 6
		a.pNext(href='#')
			.circle
				.svgHolder
					svg: use(xlink:href="#pagin")/
			span Вперед
