.responsesBlock
	.wSize
		.mainTitle_green.w_tac Отзывы наших клиентов
		.responsesBlock__blocks
			- for (i=0;i<3;i++) {
			.responsesBlock__response
				.responsesBlock__quote
				.responsesBlock__text Блюда на этой неделе просто божественны!!!! Уже по 2 раза добавку с супругом ели)))
				.responsesBlock__image
					img(src='pic/block-afternoon.jpg')
				.responsesBlock__author
					.responsesBlock__name Алена Свиридова,
					.responsesBlock__type Домохозяйка
			- }
		.responsesBlock__button
			a.button_aqua.button_normal(href='#') Посмотреть все отзывы