﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/ExternalCss.jade
	Хак-метод для установки СЕО текста в DOM структуре максимально вверху, при этом визуально текст позиционируется в нужном месте.

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

#seoTxt.seoTxt
	.wSize
		.wTxt
			h1 СЕО Текст работает
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est obcaecati tempora ipsa, libero deserunt accusantium repudiandae nulla suscipit dolorum similique quasi.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde placeat possimus laboriosam, commodi doloribus, distinctio praesentium quibusdam repellendus quae. Nisi tempore eum, beatae minus praesentium, nihil placeat delectus magnam officiis unde sunt nam enim? Veniam laborum, tenetur nisi sint voluptates officiis accusamus ducimus atque nihil excepturi minima, deleniti eius hic. 
// .seoTxt
= '\n'