.weekSlider
	.wSize
		.mainTitle_green.w_tac Вы могли бы готовить...
	.caroufredsel_wrapper
		#prevSlide
		#nextSlide
		.sliderPreloader
			.cssload-preload-juggle
				.cssload-ball
				.cssload-ball
				.cssload-ball
		#carousel
			#serv-1.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-2.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-3.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-4.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-5.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-6.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-7.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-8.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой
			#serv-9.sslide
				a.weekSlider__block(href='#')
					.weekSlider__inside
						.weekSlider__img
							.weekSlider__image
								img(src='pic/slide.png')
							.weekSlider__text Овощи с пряной семгой