﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/WezomDefs.jade
	Подключение элементов в конце страницы
	- noscript
	- wOld.js
	- svg sprite

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- определяем отключенный Javascript
if includeNoScript
	block NoScript
		// script disabled message 
		noscript
			input#wzmMsg_JsClose(type="checkbox", title="Закрыть")
			#wzmMsg_JsInform.wzmMsg_Wrapp
				.wzmMsg_Text
					p В Вашем браузере #[strong отключен JavaScript!] Для корректной работы с сайтом необходима поддержка Javascript.
					p Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.
				='\n\t\t\t\t'
				a.wzmMsg_Link(href="http://wezom.com.ua/", target="_blank", title="Студия Wezom")
					='\n\t\t\t\t\t'
					img(src="pic/wezom-info-red.gif", width="50", height="18", alt="Студия Wezom")
					='\n\t\t\t\t'
				label.wzmMsg_Close(for="wzmMsg_JsClose")
					span &times;
		= '\n'

//- Проверка на поддерживаемые браузеры и устройства
+includeOldJs()
+svgSprite()