﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/wFooter.jade

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- разделеный подвал
	-var block = 'wFooter'
	footer(class=block)
		div(class=block+'_Top')
			.wSize
		div(class=block+'_Middle')
			.wSize
		div(class=block+'_Bottom')
			.wSize

//- простой подвал
footer.wFooter
	.footerBlock
		.wSize
			.footerBlock__flex
				.footerBlock__left
					.footerBlock__whiteTitle Подпишитесь на рассылку свежих новостей
					.footerBlock__whiteText Будь всегда в курсе новостей и получай  самые свежие предложения #[br] А также подписывай друзей и получай бонус!
					.footerBlock__form
						.wForm.wFormDef.wFormPreloader(data-form="true")
							.wFormRow
								-elementName = 'demo_email_input'
								-elementLabel = 'Email *'
								-
									var attrs = {
									required: true,
									type: 'email',
									name: elementName,
									id: elementName,
									placeholder: '',
									'data-rule-email': 'true'
									}
								.wFormInput
									input.wInput&attributes(attrs)
									.inpInfo= elementLabel

									button.wSubmit OK
				.footerBlock__logo
					img(src='pic/footer-logo.png')
				.footerBlock__right
					.footerBlock__whiteTitle Следи за нами
					.footerBlock__whiteText Будь частью нас!
					.footerBlock__socials
						a(href='#').facebook
							span.svgHolder
								svg: use(xlink:href="#facebook")/
						a(href='#').twitter
							span.svgHolder
								svg: use(xlink:href="#twitter")/
						a(href='#').instagram
							span.svgHolder
								svg: use(xlink:href="#instagram")/
						a(href='#').google
							span.svgHolder
								svg: use(xlink:href="#google")/
						a(href='#').youtube
							span.svgHolder
								svg: use(xlink:href="#youtube")/
					.footerBlock__facebook
						iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=275&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1405540726357199', width='275', height='216', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
			.footerBlock__menu
				ul
					li
						a(href='#') FAQ
					li
						a(href='#') Контакты
					li
						a(href='#') Как это работает
					li
						a(href='#') Наши коробки
					li
						a(href='#') Наши рецепты
					li
						a(href='#') Смузи
					li
						a(href='#') О нас
	.footerBlock__bottom
		.wSize
			.footerBlock__flexbox
				.footerBlock__copyright © 2016 YouChef.It Все права защищены
				.footerBlock__list.w_clearfix
					ul
						li
							a(href='#') Сроки и условия
						li
							a(href='#') Конфиденциальность
				a.footerBlock__wezom(href='http://wezom.com.ua',target='_blank') Разработано в  студии Wezom
					span.svgHolder
						svg: use(xlink:href="#icon_wezom")/
