﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/wHeader.jade

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- разделеный хедер
	-var block = 'wHeader'
	header(class=block)
		div(class=block+'_Top')
			.wSize
		div(class=block+'_Middle')
			.wSize
		div(class=block+'_Bottom')
			.wSize

//- простой хедер
header.wHeader
	.topBlackLine
		.wSize
			.topBlackLine__offset
				.topBlackLine__burger
					a.svgHolder(href='#mmenu')
						svg: use(xlink:href="#burger")/
				.topWhiteLine__logo
					.topWhiteLine__logo__wrapper
						.topWhiteLine__logo__wrapper__border
							.svgHolder
								svg: use(xlink:href="#logo")/
			.topBlackLine__left
				a.topBlackLine__faq(href='#') faq
				a.topBlackLine__contacts(href='#')
					.svgHolder
						svg: use(xlink:href="#phone_icon")/
					span Контакты
				.topBlackLine__logIcon
					.mfiA.topBlackLine__enteri(data-url="hidden/enter-popup.php")
						.svgHolder
							svg: use(xlink:href="#enter")/
						span Вход
					.mfiA.topBlackLine__regi(data-url="hidden/reg-popup.php")
						.svgHolder
							svg: use(xlink:href="#lock")/
						span Рег.
			.topBlackLine__right
				a.topBlackLine__basket(href='#') В вашей кастрюле
					.icon
						span 2
				.topBlackLine__regEnter
					-if(fileAlias != 'index'){
						.topBlackLine__reg.mfiA(data-url="hidden/reg-popup.php") Регистрация
						.topBlackLine__enter.button_aqua.button_small.mfiA(data-url="hidden/enter-popup.php") Вход
					- }
					-if(fileAlias == 'index'){
						a.topBlackLine__reg(href="#") Личный кабинет
						.topBlackLine__enter.button_aqua.button_small Выход
					- }
				ul.topBlackLine__langs
					li
						a.mfiA(data-url="hidden/cristmas.php") LT
					li
						a(href='#') RU
	.topWhiteLine
		.wSize
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						-if(fileAlias != 'index') {
						a(href='#').svgHolder
							svg: use(xlink:href="#logo")/
						-}
						-if(fileAlias == 'index') {
						.svgHolder
							svg: use(xlink:href="#logo")/
						-}
			.topWhiteLine__menu
				ul
					li.is-active
						a(href='#') Как это работает
					li
						a(href='#') Наши коробки
					li
						a(href='#') Наши рецепты
						ul
							li
								a(href='#')
									span.topWhiteLine__menu__img
										img(src='pic/block-party.jpg')
									span.topWhiteLine__menu__text Рецепты классической коробки
								ul
									- for (i=0;i<2;i++){
									li
										a(href='#')
											span.topWhiteLine__menu__img
												img(src='pic/block-party.jpg')
											span.topWhiteLine__menu__text Рецепты классической коробки
									- }
							- for (i=0;i<3;i++){
							li
								a(href='#')
									span.topWhiteLine__menu__img
										img(src='pic/block-party.jpg')
									span.topWhiteLine__menu__text Рецепты классической коробки
							- }
					li
						a(href='#') Смузи
					li
						a(href='#') О нас
#mmenu
	ul
		li #[a FAQ]
		li #[a Контакты]