﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Widgets/wMenu.jade
	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

.wSize
	nav.wMenu
		+menuList(LOCALS.mainMenu, mainMenuPath, true)
	// wMenu 
= '\n'