-var _server = LOCALS.server
//- LocalStorage
mixin includeLocalStorage()
	// localStorage test 
	if includeLocalStorage
		script
			include ../inlineFiles/local_storage_test.min.js
		= '\n'

mixin includeOldJs()
	if includeOldJs
		block wOld
			// old browser detect 
			//- в случае смены путей медия файлов - поменять и здесь новый путь
			script
				include ../inlineFiles/old_browser_init.min.js
			= '\n'

mixin svgSprite()
	if includeLocalStorage && includeSvgSprite
		block svgSprite
			//- в случае смены путей медия файлов - поменять и здесь новый путь
			// svg sprite 
			script
				include ../inlineFiles/sprite_svg.min.js
			// изменить id у svg элемента -> #sprite_SiteName 
			svg#sprite_SiteName(xmlns="http://www.w3.org/2000/svg", style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;", onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')")
			= '\n'

mixin svgSpritePreview()
	if includeLocalStorage && includeSvgSprite
		script
			include ../inlineFiles/sprite_svg_preview.min.js

mixin seoSetInclude()
	if seoSet
		// seoSet 
		style .seoTxt{position:absolute;top:100%;left:0;width:100%;z-index:10;}
		= '\n'
