﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	System/Mixins.jade
	Подключение вспомогательных миксинов

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

include ../Mixins/MenuList
include ../Mixins/Breadcrumbs
include ../Mixins/Titles
include ../Mixins/Lorems
include ../Mixins/LinksButtons
include ../Mixins/Forms
include ../Mixins/IncludeInline
