﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	System/Variables.jade
	Объявление системных переменых,
	определение зависимостей на основе файла

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

//- Путь к медиафайлом
-var MediaPath = LOCALS.media

//- Язык страницы
-var fileLanguage = 'ru-RU'

//- Имя файла / алиас для работы с locals
-var fileAlias = 'index'

//- данные файла
-var fileData = {}

//- ссылка к файлу
-var fileLink = '#'

//- Имя страницы в списках и оглавлениях
-var fileName = 'Страница'

//- Тайтл страницы
-var fileTitle = 'Страница'

//- Массив для указания путей активных классов в списках
-var mainMenuPath = []

//- Название класса для активных пунктов меню
-var activeClass = 'w_active'

//- Объект атрибутов для элемента боди
-var bodyAttr = {}

//- Присутствие СЕО текста
-var seoSet = false

//- Подключениe стилевих компонентов
-var styleComponents = true

//- Подключение NoScript
-var includeNoScript = true

//- Подключение wOld
-var includeOldJs = true

//- Подключение SvgSprite
-var includeSvgSprite = true

//- Подключение теста localStorage
-var includeLocalStorage = true

//- tpl основы
-var viewTpl = 'Base'