.skinClear,
.skinClear ul {list-style:none; padding:0; margin:0;}
.skinClear ul { display:none;}
.skinClear li {list-style:none; }
.skinClear a:hover {text-decoration:underline;}
.skinClear a.cur { color:#000}
.skinClear a.harOpen { color:#000}