@import "../_config";
.breadcrumbs {
    width: 100%;
    display: table;
    font-size: 0;
    line-height: 0;
    padding: 15px 0 5px 20px;
	font-family: "Source Sans Pro",sans-serif;
    > span {
        display: inline-block;
        vertical-align: top;
        margin-right: 7px;
		color: #7a7a7a;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
        &:before {
            content: '>';
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
			margin-top: 1px;
        }
        &:first-child:before {
            display: none;
        }
        > a {
            text-decoration: underline;
			color: #5bc7be;
			&:hover{
			text-decoration: none;
			}
        }
    }
}
@media only screen and (max-width:620px) {
    .breadcrumbs {
        display: block;
        > span {
            display: none;
            &:before {
                display: none;
            }
            &:nth-last-child(2) {
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 100%;
                background: none;
                margin: 0;
                &:before {
                    content: '<';
                    display: inline-block;
                    margin: 0 5px 0 3px;
                }
            }
        }
    }
}

@media only screen and (max-width:460px){
	.breadcrumbs{
		padding-left: 0;
	}
}
