@import "../_config";
/*%wpreloader {
    cursor: wait;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    margin: auto;
}
%mw100 {
    max-width: 100%;
}

.wpreloader_wraper {
    @extend %wpreloader;
    @extend %mw100;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.65);
    display: none;
}
.wpreloader_holder {
    @extend %wpreloader;
    max-width: 68%;
    > div {
        @extend %wpreloader;
        @extend %mw100;
    }
}
.wpreloader_removing {
    &.fade_preloader {
        .wpreloader_wraper {
            visibility: hidden;
            opacity: 0;
            transition: visibility .3s ease, opacity .3s ease;
        }
    }
}

.wpreloader_show {
    position: relative;
}*/

.wpreloader_wraper,
.wpreloader_holder > div,
.wpreloader_holder {
    cursor: wait;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.wpreloader_removing.fade_preloader .wpreloader_wraper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s ease, opacity .3s ease;
    transition: visibility .3s ease, opacity .3s ease;
}
.wpreloader_holder {
    max-width: 68%;
}
.wpreloader_wraper {
    width: 100%;
    height: 100%;
    background: url(../pic/ring.gif) rgba(255,255,255,0.65) 50% 50% no-repeat;
    display: none;
}
.wpreloader_show {
    position: relative;
}
.wpreloader_show .wpreloader_wraper {
    display: block;
}
.wpreloader_block .wpreloader_wraper {
    background: none;
    position: fixed;
    z-index: 1050;
}
