@import '../_config';

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/subset-sourcesanspro-regular.woff2') format('woff2'),
	url('../fonts/subset-sourcesanspro-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/subset-sourcesanspro-semibold.woff2') format('woff2'),
	url('../fonts/subset-sourcesanspro-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

.svgHolder {
	position: relative;
	& > svg {
		@include HVcenter(100%, 100%);
	}
}

html,body{
    margin: 0;
	height: 100%;
}
a {
	color: $cGreen;
	&:hover{
		text-decoration: none;
	}
}
b{
	font-weight: 600;
}
.errorPage {
    overflow-x: hidden;
}
.errorWrapper {
    display: table;
    width: 100%;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
	background:url(../images/top-image.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.no-moz .errorWrapper {
    height: auto !important;
}

.errorHolder {
	font-family: 'Source Sans Pro',sans-serif;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.errorContent {
    display: block;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    .wTxt {
        text-align: center;
		background: rgba(#fff,0.8);
		padding: 15px;
		border-radius: 5px;
    }
}

.errorHeader {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 200px;
    line-height: 1;
	color: $cGreen;
	margin-top: -15px;
}

@media only screen and (max-width: 720px) {
    .errorHeader {
        font-size: 150px;
    }
}
@media only screen and (max-width: 480px) {
    .errorHeader {
        font-size: 100px;
    }
}


.topWhiteLine{
	&__logo{
		margin: 0 auto;
		width: 186px;
		height: 184px;
		position: relative;
		z-index: 2;
		&__wrapper{
			height: 184px;
			background: #fff;
			border-radius: 50%;
			overflow: hidden;
			&__border{
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.8);
				border: 2px solid #5bc7be;
				box-shadow: 0 3px 6px rgba(28, 28, 28, 0.35);
				@include HVcenter(167px,166px);
				width: 167px;
				height: 166px;
				box-sizing: border-box;
				overflow: hidden;
			}
		}
		.svgHolder{
			fill: #5bc7be;
			fill-rule: evenodd;
			display: block;
			width: 92px;
			height: 143px;
			@include HVcenter(92px,143px);
		}
	}

}