.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_digits_input'
		-elementLabel = 'Digits *'
		-
			var attrs = {
				required: true,
				type: 'number',
				name: elementName,
				id: elementName,
				placeholder: 'Только цифры',
				'data-rule-digits': 'true'
			}

		label.wLabel(for=elementName)= elementLabel
		.wCaption Вводите только цифры
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo(for=elementName)= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс