.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_min_input'
		-elementLabel = 'Min Input Value *'
		-elementMin = 5.5
		-
			var attrs = {
				required: true,
				type: 'tel',
				name: elementName,
				id: elementName,
				placeholder: 'Ваше число',
				'data-rule-min': elementMin
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Минимальное значение #{elementMin}!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow
		-elementName = 'demo_min_select'
		-elementLabel = 'Min Select Value *'
		-elementMin = 25
		-
			var attrs = {
				required: true,
				name: elementName,
				id: elementName,
				'data-rule-min': elementMin
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Минимальное значение #{elementMin}!
		.wFormInput
			select.wSelect&attributes(attrs)
				option(value='10') Value - 10
				option(value='20') Value - 20
				option(value='30') Value - 30
				option(value='40') Value - 40

	.wFormRow
		-elementName = 'demo_min_radio'
		-elementLabel = 'Min Radio Value *'
		-elementMin = 25
		-
			var attrs = {
				required: true,
				type: 'radio',
				name: elementName,
				'data-rule-min': elementMin
			}
		.wLabel= elementLabel
		.wCaption Минимальное значение #{elementMin}!

		-elementValue = 10
		-customBG = false
		block wRadioMin
			label.wRadio
				input.wInput&attributes(attrs)(value=elementValue)
				if customBG
					ins(style='background-color:'+customBG+';') &nbsp;
				else
					ins &nbsp;
				span Radio Value #{elementValue}
				
		-delete attrs['data-rule-min']
		-attrs.required = false
		-elementValue = 20
		-customBG = '#01A701'
		block wRadioMin

		-elementValue = 30
		-customBG = '#00f'
		block wRadioMin

		-elementValue = 40
		-customBG = '#f0f'
		block wRadioMin

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс