.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_remote_email'
		-elementLabel = 'Remote Email *'
		-
			var attrs = {
				required: true,
				type: 'email',
				name: elementName,
				id: elementName,
				placeholder: 'Укажите свой email',
				'data-rule-email': 'true',
				'data-rule-remote': 'form/wForm-demo-remote-email.php'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption demo@site.com - использовать нельзя
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo(for=elementName)= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс