.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_file_single_filesize'
		-elementLabel = 'File Size Single *'
		-elementFilesize = '150'
		-textNotSelect = 'Ничего не выбрано'
		-
			var attrs = {
				required: true,
				type: 'file',
				name: elementName,
				id: elementName,
				'data-rule-filesize': elementFilesize
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Максимальный объем файла - #{elementFilesize}KB!
		.wFormInput
			input.wFile&attributes(attrs)
			label.wInput.wFileVal(for=elementName): span= textNotSelect

	.wFormRow
		-elementName = 'demo_file_multiple_filesize'
		-elementLabel = 'File Size Multiple *'
		-
			var attrs = {
				required: true,
				multiple: true,
				type: 'file',
				name: elementName,
				id: elementName,
				'data-rule-filesize': elementFilesize
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Максимальный общий объем файлов - #{elementFilesize}KB!
		.wFormInput
			input.wFile&attributes(attrs)
			label.wInput.wFileVal(for=elementName): span= textNotSelect

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс