.wForm.wFormDef.wSubmitPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_number_input'
		-elementLabel = 'Number *'
		-
			var attrs = {
				required: true,
				type: 'tel',
				name: elementName,
				id: elementName,
				placeholder: 'Ваше число',
				'data-rule-number': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Укажите числовое значение
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс