.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_date_input'
		-elementLabel = 'Password *'
		-
			var attrs = {
				required: true,
				type: 'password',
				name: elementName,
				id: elementName,
				placeholder: 'Укажите свой пароль',
				'data-rule-password': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Первым символом не может быть пробел
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo(for=elementName)= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс