.wForm.wFormDef.wFormPreloader.w_block(data-form="true")
	.wFormRow
		-elementName = 'demo_login_input'
		-elementLabel = 'Login *'
		-
			var attrs = {
				required: true,
				type: 'text',
				name: elementName,
				id: elementName,
				placeholder: 'Ваш login',
				'data-rule-login': 'true'
			}
		label.wLabel(for=elementName)= elementLabel
		.wCaption Логин не должен содержать пробельные символы!
		.wFormInput
			input.wInput&attributes(attrs)
			.inpInfo= elementLabel

	.wFormRow.w_last
		button.wSubmit.wBtn.w_success Подтверждение
		button.wReset.wBtn.w_danger Сброс