// единицы измерения
$emSize: 1em;
$emSizeDouble: $emSize * 2;
$emSizeText: $emSize * 1.5;
$emSizeHeader: $emSize * 1.2;
$emSizePart: $emSize * 0.7;
$emSizeHalf: $emSize * 0.5;
$emSizeUn3: $emSize * 0.3;
$emSizeUn2: $emSize * 0.2;

// шрифты
$fontFamily: "Source Sans Pro", sans-serif;
$fontSize: 14px;
$fontSizeH1: 40px;

$unit: $emSize / 14;

// цвета
$cWhite: #eaedf1;
$cGray: #3a3a3a;
$cGreen: #18af9c;
$cRed: #ec4f2a;
$cAqua:#5bc7be;
$cAqua2: #5bc6bd;
$cSemiGreen: #18af9c;
$cAquaTitle: #44bcb2;

$colorBlack: #000;
$colorDark: #333;
$colorMiddleDark: #666;
$colorMiddle: #999;
$colorWhite: #fff;
$colorLight: #f0f0f0;
$colorMiddleLight: #f9f9f9;

$colorYellow: #ff0;
$colorRed: #f00;

$colorDefault: #fafafb;
$colorPrimary: #0295d5;
$colorSucces: #78BE30;
$colorInfo: #74BBFF;
$colorWarning: #4ADB4A;
$colorDanger: #EB4F1F;

$rgbaDark: rgba($colorBlack, 0.3);

// текст
$colorText: #676768;
$textShadowDark: 0 1px 1px $rgbaDark;

// ссылки
$colorLink: #5bc7be;
$colorLinkVisited: #18af9c;
$colorLinkHover: #18af9c;
$colorActive: $colorText;

// border
$borderRadius: $emSize * 0.25;
$borderColor: $colorMiddleLight;
$border: 1px solid $borderColor;
$borderTableColor: $colorMiddleDark;
$borderTable: 1px solid $borderTableColor;

// футер

$footerSize: 584px;

// миксины
@mixin HVcenter($w, $h) {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: $w;
    max-height: $h;
    margin: auto;
}

@mixin placeholder() {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}
	&:focus{
		&::-webkit-input-placeholder {color:transparent !important;}
		&:-moz-placeholder           {color:transparent !important;}
		&::-moz-placeholder          {color:transparent !important;}
		&:-ms-input-placeholder      {color:transparent !important;}
	}
}

@function em($pixels, $context: 14) {
	@return #{$pixels/$context}em;
}

@mixin triangle($w,$h,$type,$c){
	@if($type == 'left') {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $h/2 $w $h/2 0;
		border-color: transparent $c transparent transparent;
	}
}