.mfiModal.zoomAnim.cristmas-popup
	.cristmas-popup__headrer
		img(src='pic/popup-head.jpg')
		.cristmas-popup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/
	.cristmas-popup__title.mainTitle_green.w_tac Рождественные праздники не за горами?
	.cristmas-popup__main
		.cristmas-popup__left
			img(src='pic/cristmas_left.jpg')
		.cristmas-popup__center
			.cristmas-popup__smallTitle YouChef позаботится о Вас  и о Вашей семье!
			hr
			.cristmas-popup__text Эксклюзивные блюда по случаю наступающего Нового года и Рождества  специально были разработаны нашими
			.cristmas-popup__button
				a.button_semi.button_aqua(href='#') Хочу попробовать!
		.cristmas-popup__right
			img(src='pic/cristmas_left.jpg')