.mfiModal.zoomAnim.enterPopup
	.regPopup__header
		.regPopup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/

	.regPopup__textBlock
		.regPopup__title.mainTitle_green.w_tac Авторизация
		.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
			.wFormRow
				-elementName = 'demo_email_input'
				-elementLabel = 'E-mail *'
				-
					var attrs = {
					required: true,
					type: 'email',
					name: elementName,
					id: elementName,
					placeholder: 'Введите E-mail',
					'data-rule-email': 'true'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel
			.wFormRow
				-elementName = 'demo_date_input'
				-elementLabel = 'Пароль *'
				-
					var attrs = {
					required: true,
					type: 'password',
					name: elementName,
					id: elementName,
					placeholder: 'Введите пароль',
					'data-rule-password': 'true',
					'data-rule-minlength':4
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo(for=elementName)= elementLabel
			.wFormRow
				-elementName = 'demo_required_checkbox'
				-elementLabel = 'Запомнить меня'
				-
					var attrs = {
					required: false,
					type: 'checkbox',
					name: elementName
					}
				label.wCheck
					input.wInput&attributes(attrs)
					ins &nbsp;
					span Запомнить меня

			.wFormRow.w_last
				button.wSubmit.button_aqua.button_semi Войти


		.enterPopup__remember.mfiA(data-url="hidden/remember-popup.php") Забыли пароль?
		.enterPopup__new Новый пользователь?
			span.mfiA(data-url="hidden/reg-popup.php") Регистрация
		.enterPopup__or
		.regPopup__facebook
			p Войти как пользователь
			.fb