.mfiModal.zoomAnim.pricePopup.pricePopup--smuziBox
	.regPopup__header
		.regPopup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/
	.regPopup__textBlock
		.regPopup__title.mainTitle_green.w_tac Закажите смузи
		.pricePopup__smuziBlock
			label
				input(type='radio',name='count',checked)
				.checker
					span
					b 2
					img(src='pic/popup-human.png')
					b
						| = £ 300
			label
				input(type='radio',name='count')
				.checker
					span
					b 4
					img(src='pic/popup-human.png')
					b
						| = £ 600
			.pricePopup__smuziBlock__button
				a.button_aqua.button_semi(href='#') Оформить заказ