.mfiModal.zoomAnim.popupRecipe.box
	.popupRecipe__top(style='background-image:url(pic/recipehead.jpg)')
		.popupRecipe__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/
		.popupRecipe__socials
			.footerBlock__socials.small
				a(href='#').facebook
					span.svgHolder
						svg: use(xlink:href="#facebook")/
				a(href='#').twitter
					span.svgHolder
						svg: use(xlink:href="#twitter")/
				a(href='#').instagram
					span.svgHolder
						svg: use(xlink:href="#instagram")/
				a(href='#').google
					span.svgHolder
						svg: use(xlink:href="#google")/
				a(href='#').youtube
					span.svgHolder
						svg: use(xlink:href="#youtube")/
			.popupRecipe__drop
				span Поделись мастерством
		.popupRecipe__title
			span Говядина в сливочном соусе с морковью
			a.archiveBlock__download(href='#')
				.icon
					.svgHolder
						svg: use(xlink:href="#download")/
				span Скачать рецепт

	.popupRecipe__main
		.popupRecipe__infoLine
			.popupRecipe__infoLine__title Питательность
			.popupRecipe__infoLine__count #[b 33 г] углеводов #[b 12 г] жира #[b 19 г] белка #[b 1009 мг] натрия
			.popupRecipe__infoLine__desc низкая калорийность, низкое содержание углеводов, без глютена, без молока, без сои, без ореха
		.popupRecipe__bigLine
			.popupRecipe__bigLine__kalories.popupRecipe__bigLine__flex
				.popupRecipe__bigLine__icon.apple
				.popupRecipe__bigLine__nc
					.popupRecipe__bigLine__name Калории
					.popupRecipe__bigLine__count 296
			.popupRecipe__bigLine__time.popupRecipe__bigLine__flex
				.popupRecipe__bigLine__icon.time
				.popupRecipe__bigLine__nc
					.popupRecipe__bigLine__name Время приготовления
					.popupRecipe__bigLine__count 30-40 минут

			.popupRecipe__bigLine__expiration.popupRecipe__bigLine__flex
				.popupRecipe__bigLine__icon.ex
				.popupRecipe__bigLine__nc
					.popupRecipe__bigLine__name Срок годности
					.popupRecipe__bigLine__count 3 дня

			.popupRecipe__bigLine__hard.popupRecipe__bigLine__flex
				.popupRecipe__bigLine__icon
					.popupRecipe__bigLine__cook.js-popupRecipe(data-rating='1')
						.popupRecipe__bigLine__cookIcon.js-icon
							span.svgHolder
								svg: use(xlink:href="#logo")/
						.popupRecipe__bigLine__cookIcon.js-icon
							span.svgHolder
								svg: use(xlink:href="#logo")/
						.popupRecipe__bigLine__cookIcon.js-icon
							span.svgHolder
								svg: use(xlink:href="#logo")/
				.popupRecipe__bigLine__nc
					.popupRecipe__bigLine__name Сложность
					.popupRecipe__bigLine__count Легкий

			.popupRecipe__bigLine__level.popupRecipe__bigLine__flex
				.popupRecipe__bigLine__icon.js-popupRecipe(data-rating='2')
					.popupRecipe__bigLine__starIcon.js-icon
						span.svgHolder
							svg: use(xlink:href="#peper")/
					.popupRecipe__bigLine__starIcon.js-icon
						span.svgHolder
							svg: use(xlink:href="#peper")/
					.popupRecipe__bigLine__starIcon.js-icon
						span.svgHolder
							svg: use(xlink:href="#peper")/
				.popupRecipe__bigLine__nc
					.popupRecipe__bigLine__name Острота
					.popupRecipe__bigLine__count Средняя
		.popupRecipe__ingredients
			.ourBlock__composition
				.ourBlock__image
					.ourBlock__img(style='background-image:url(pic/smuzi-image.jpg)')
				.ourBlock__text
					.ourBlock__composition__title Ингридиенты на 2-х человек
					.ourBlock__composition__table
						table
							- for (i=0;i<5;i++) {
							tr
								td Стебель сельдерея
								td #[b 20 гр]
							- }
							- for (i=0;i<4;i++) {
							tr
								td Базилик сушеный молотый
								td #[b 400 гр]
							- }
		.popupRecipe__quote
			blockquote Данное блюдо готовится очень быстро и на самом сильном огне - это основной принцип приготовления стир-фрай. Когда Вы добавляете лапшу - хорошенько перемешайте блюдо в сковороде, чтобы все ингридиенты и соус равномерно распределить
		.popupRecipe__steps
			.popupRecipe__steps__title.w_tac Способ приготовления
			-for(i=0;i<3;i++){
			.popupRecipe__step
				.popupRecipe__step__image
					.popupRecipe__step__img
						img(src='pic/block-party.jpg')
				.popupRecipe__step__text Картофель очистите, нарежьте крупными произвольными ломтиками, добавьте в кипящую воду и варите в течение 20 минут. На сухой сковороде обжарьте, помешивая, орехи на сильном огне в течение 30 секунд, снимите с огня. Курагу замочите в 50 мл теплой воды на 5 минут.
			- }

		.popupRecipe__footer
			.popupRecipe__footer__warning Обратите внимание, что из-за производственных процессов, используемых и нашими поставщиками, наши ящики могут содержать мелкие следы следующих аллергенов в дополнение к аллергенам говорится выше, и на наши рецепты карты: сельдерей, ракообразные, яйца, рыба, глютен, лактозу, люпин, моллюски, орехи (в том числе кедровые орехи, арахис, кунжут, соя, сульфитов и диоксида серы.
