.mfiModal.zoomAnim.pricePopup
	.regPopup__header
		.regPopup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/
	.regPopup__textBlock
		.regPopup__title.mainTitle_green.w_tac Наши цены
		.pricePopup__table
			- for(i=0;i<2;i++) {
			.pricePopup__row
				.pricePopup__desc
					span #[b.humans 2]
					img(src='pic/popup-human.png')
					span x&nbsp;&nbsp;#[b.count 3]
					img(src='pic/popup-smuzi.png')
					span
						| = £#[b.total 35]

			- }