.mfiModal.zoomAnim.pricePopup.pricePopup--party
	.regPopup__header
		.regPopup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/
	.regPopup__textBlock
		.regPopup__title.mainTitle_green.w_tac Наши цены
		.pricePopup__partyBlock
			.pricePopup__partyBlock__row
				.pricePopup__partyBlock__images
					.pricePopup__partyBlock__half
						- for(i=0;i<2;i++) {
						img(src='pic/popup-human.png')
						- }
					img(src='pic/popup-big-pizza.png')
					.pricePopup__partyBlock__half
						- for(i=0;i<2;i++) {
						img(src='pic/popup-human.png')
						- }
				.pricePopup__partyBlock__desc #[b 4 x] минимальный заказ от #[b = £300]
			.pricePopup__partyBlock__row
				.pricePopup__partyBlock__images
					.pricePopup__partyBlock__half
						- for(i=0;i<3;i++) {
						img(src='pic/popup-human.png')
						- }
					img(src='pic/popup-big-pizza.png')
					.pricePopup__partyBlock__half
						- for(i=0;i<3;i++) {
						img(src='pic/popup-human.png')
						- }
				.pricePopup__partyBlock__desc #[b 6 x] минимальный заказ от #[b = £300]
			.pricePopup__partyBlock__row
				.pricePopup__partyBlock__images
					.pricePopup__partyBlock__half
						- for(i=0;i<4;i++) {
						img(src='pic/popup-human.png')
						- }
					img(src='pic/popup-big-pizza.png')
					.pricePopup__partyBlock__half
						- for(i=0;i<4;i++) {
						img(src='pic/popup-human.png')
						- }
				.pricePopup__partyBlock__desc #[b 8 x] минимальный заказ от #[b = £300]
			.pricePopup__partyBlock__row
				.pricePopup__partyBlock__images
					.pricePopup__partyBlock__half
						- for(i=0;i<5;i++) {
						img(src='pic/popup-human.png')
						- }
					img(src='pic/popup-big-pizza.png')
					.pricePopup__partyBlock__half
						- for(i=0;i<5;i++) {
						img(src='pic/popup-human.png')
						- }
				.pricePopup__partyBlock__desc #[b 10 x] минимальный заказ от #[b = £300]