.mfiModal.zoomAnim.regPopup
	.regPopup__header
		.regPopup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/

	.regPopup__textBlock
		.regPopup__title.mainTitle_green.w_tac Регистрация
		.wForm.wFormDef.wFormPreloader.myForm(data-form="true")
			.wFormRow
				-elementName = 'demo_word_input'
				-elementLabel = 'Имя *'
				-
					var attrs = {
					required: true,
					type: 'text',
					name: elementName,
					id: elementName,
					placeholder: 'Ваше имя',
					'data-rule-word': 'true'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel
			.wFormRow
				-elementName = 'demo_word_input2'
				-elementLabel = 'Фамилия *'
				-
					var attrs = {
					required: true,
					type: 'text',
					name: elementName,
					id: elementName,
					placeholder: 'Ваша фамилия',
					'data-rule-word': 'true'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel
			.wFormRow
				-elementName = 'demo_email_input'
				-elementLabel = 'E-mail *'
				-
					var attrs = {
					required: true,
					type: 'email',
					name: elementName,
					id: elementName,
					placeholder: 'E-mail',
					'data-rule-email': 'true'
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel
			.wFormRow
				-elementName = 'demo_date_input'
				-elementLabel = 'Пароль *'
				-
					var attrs = {
					required: true,
					type: 'password',
					name: elementName,
					id: elementName,
					placeholder: 'Пароль',
					'data-rule-password': 'true',
					'data-rule-minlength':4
					}
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo(for=elementName)= elementLabel
			.wFormRow.calendar
				-var elementName = 'demo_required_input'
				-var elementLabel = 'Дата рождения'
				-
					var attrs = {
					required: false,
					type: 'text',
					name: elementName,
					id: elementName,
					placeholder: '',
					'data-rule-mydate':true
					}
				label.wLabel(for=elementName)= elementLabel
				.wFormInput
					input.wInput&attributes(attrs)
					.inpInfo= elementLabel
					.svgHolder
						svg: use(xlink:href="#date")/
			.wFormRow
				-elementName = 'demo_phoneua_input'
				-elementLabel = 'Телефон *'
				-
					var attrs = {
					required: true,
					type: 'tel',
					name: elementName,
					id: elementName,
					placeholder: 'Номер телефона',
					'data-rule-phoneUA': 'true'
					}
				.wFormInput
					input.wInput.js-phone-mask&attributes(attrs)
					.inpInfo(for=elementName)= elementLabel
			.wFormRow
				.wFormSelect
					select.wSelect(required)
						option(value='0', disabled, selected) Город
						option(value='1') Херсон

			.wFormRow.w_last
				button.wSubmit.button_aqua.button_semi Регистрация

		.regPopup__facebook
			p Зарегистрироваться через
			.fb