.mfiModal.zoomAnim.rememberPopup
   .regPopup__header
      .regPopup__logo
         .topWhiteLine__logo
            .topWhiteLine__logo__wrapper
               .topWhiteLine__logo__wrapper__border
                  .svgHolder
                     svg: use(xlink:href="#logo")/

   .regPopup__textBlock
      .regPopup__title.mainTitle_green.w_tac Забыли пароль?
      .wForm.wFormDef.wFormPreloader.myForm(data-form="true")

         .wFormRow
            -elementName = 'demo_email_input'
            -elementLabel = 'E-mail *'
            -
               var attrs = {
               required: true,
               type: 'email',
               name: elementName,
               id: elementName,
               placeholder: 'E-mail',
               'data-rule-email': 'true'
               }
            .wFormInput
               input.wInput&attributes(attrs)
               .inpInfo= elementLabel

         .wFormRow.w_last
            button.wSubmit.button_aqua.button_semi Отправить