.mfiModal.zoomAnim.rememberPopup.shortText
	.regPopup__header
		.regPopup__logo
			.topWhiteLine__logo
				.topWhiteLine__logo__wrapper
					.topWhiteLine__logo__wrapper__border
						.svgHolder
							svg: use(xlink:href="#logo")/

	.shortText__textBlock
		.wTxt
			p Взбитые в блендере сырые ингредиенты с комплексом витаминов, микроэлементов, энзимов и клетчатки — отличный старт для нового дня.
			p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
			p В яблоках очень много витамина В2. Он обеспечивает хорошее пищеварение и поддерживает устойчивость нервной системы. Кокосовая вода не содержит сахара, обладает низкой калорийностью, включает в себя целый микс минералов и даже способна выводить из организма тяжелые
			ul
				li Пункт 1
				li Пункт 2
				li Пункт 3